[2013-08-31 08:19] JJ opened #1 "Tipos de virtualización: foro"
¿Qué tipo de virtualización es la más adecuada para: alojar varios clientes en un sólo servidor, crear un sistema efiiciente de web + middleware + base de datos, un sistema de prueba de software e integración continua? Responder y razonar.

[2013-10-01 15:12] rafaelgonz commented on #1
1.  alojar varios clientes en un sólo servidor -> Virtualización plena, ya que virtualiza todos los aspectos de un ordenador ejecutando sistemas operativos, por lo que los clientes podrían ser alojados en un solo servidor.
2.  crear un sistema eficiente de web + middleware + base de datos -> Virtualización de aplicaciones, empaquetando estas aplicaciones  aislándolas del sistema operativo, funcion

[2013-10-01 15:39] JoSeF267 commented on #1
1.alojar varios clientes en un sólo servidor : Virtualización completa ya que el usuario puede trabajar en el servidor sin tener en cuenta a los demás usuarios y tener sus programas propietarios.

2.crear un sistema eficiente de web + middleware + base de datos : Virtualización de aplicaciones ,ya que podremos tener las aplicaciones que deseemos y usarla independientemente del resto

3.sistema de

[2013-10-01 20:37] josecolella commented on #1
1. El tipo de virtualización mas adecuada para alojar clientes varios clientes en un servidor sería virtualización plena, donde se comparten los recursos del sistema entre varios usuarios. Ademas cada cliente esta aislado, donde es independiente de los otros, que significa que la actividad en un cliente no afectará al otro cliente.
2. El tipo de virtualización mas adecuada para crear un sistema ef

[2013-10-02 16:15] torresj commented on #1
1. Alojar varios clientes en un sólo servidor: Se debe usar una  virtualización plena o completa ya que ésta permite     crear varias instancias que pueden ejecutarse al mismo tiempo. Estas instancias serían dependientes unas de las otras y por ello sería las más adecuada para varios clientes en un mismo servidor.
2. Crear un sistema eficiente de web + middleware + base de datos: En este caso debe

[2013-10-03 12:35] R-R-R-R-1 commented on #1
1. Alojar varios clientes en un sólo servidor: La virtualización completa ha demostrado ser muy exitosa para compartir un sistema informático entre múltiples usuarios y para el aislamiento de los usuarios entre sí (y desde el programa de control). Por ello creo que es la más recomendada.
2. Crear un sistema eficiente de web + middleware + base de datos: Sin duda, como mis compañeros han indicado,

[2013-10-03 22:18] javiercollado commented on #1
Alojar varios clientes en un sólo servidor:
    En este caso lo que queremos es dar servicio a diferentes usuarios independientes, así que lo mejor es la virtualización plena. Ya que así es como si cada usuario tuviera una maquina independiente. Permitiendo así una configuración adaptada a cada cliente.

Crear un sistema eficiente de web + middleware + base de datos:
    En esta ocasión creo que l

[2013-10-03 22:35] rafacruiz commented on #1
1. Alojar varios clientes en un sólo servidor, la virtualización más adecuada para este tipo de características es la de tipo plena, ya que simula un hardware que permite ejecutar un sistema operativo, ahorrar en recursos y compartirlos,  utilizarse de modo aislado al resto.
2. Crear un sistema eficiente de web + middleware + base de datos, para estas características la mejor virtualización es la

[2013-10-04 08:28] pedroag commented on #1
1. Para alojar varios clientes en un servidor, es preferible utilizar virtualización plena ya que cada cliente va a utilizar de manera aislada todos los componentes del servidor.
2. Para web + middleware + base de datos, utilizaría virtualización de aplicaciones para diferenciarlas de todo el sistema operativo.
3. Para un sistema de prueba de software e integración continua, evidentemente se usarí

[2013-10-04 08:44] franvalverde commented on #1
1. alojar varios clientes en un sólo servidor, la más adecuada es la virtualización plena donde los clientes están aislados y pueden compartir recursos.
2. crear un sistema eficiente de web + middleware + base de datos, la más adecuada es la virtualización de aplicaciones ya empaqueta aplicaciones de forma que se ejecuten en un entorno que las aísla del resto del sistema operativo.
3. un sistema d

[2013-10-04 08:44] melero90 commented on #1
1. Alojar varios clientes en un sólo servidor: El tipo de virtualización para este caso sería la virtualización plena ya que al haber múltiples usuarios necesitamos proporcionarles a cada uno de ellos una máquina virtual completa de forma independiente.
2. Crear un sistema eficiente de web + middleware + base de datos: En este caso la virtualización de aplicaciones ya que empaqueta aplicaciones de

[2013-10-04 16:09] torresj opened #2 "Ejercicio 7"
¿El ejercicio 7 hay que reflejar que se ha hecho haciendo una pagina en el wiki con capturas de pantalla o explicando lo que se ha hecho?¿O simplemente con cumplir el objetivo de clase y haberlo hecho es suficiente?

[2013-10-05 10:25] jcastilloprez commented on #1
1. Alojar varios clientes en un sólo servidor: La virtualización plena ya que esta virtualización permite a los diferentes usuarios utilizar el mismo sistema operativo pero cada usuario tendría su propio entorno sin pisar los entornos de los demás usuarios.
2. Crear un sistema eficiente de web + middleware + base de datos: La virtualización de aplicaciones porque esta nos permite separar las aplic

[2013-10-05 10:51] josecolella opened #3 "Ejercicio 7: cgroup change of group failed"
Estoy tratando de ejecutar una order con `cgexec` dentro del grupo de control, y me da el error cgroup change of group failed. He estado buscando y no consigo como resolver este problema.

[2013-10-05 10:53] JJ commented on #3
¿Puedes poner algún detalle más? Grupos que has definido, línea de órdenes y comando exacto.

[2013-10-05 10:54] JJ commented on #2
Sí, en este caso conviene que lo hagáis. No es un ejercicio fácil y si habéis tenido que hacer algo especial convendría que lo comentárais.

[2013-10-05 10:54] #2 closed, assigned to nobody

[2013-10-05 11:18] josecolella commented on #3
He creado tres grupos de control. Uno en el cual se limita la CPU, otro que se limita la memoria, y otra que se limitan los dos.

[code]

[code]

[code]

El comando exacto es:

[code]

[2013-10-05 11:41] JJ opened #4 "¿Qué aplicación puede tener la limitación o asignación de recursos en un entorno de producción?"

[2013-10-05 11:48] JJ commented on #3
Creo que te sobran las comillas y el / al final. Los grupos de control se representan mediante directorios, pero no le hacen falta.

[2013-10-05 11:52] fllodrab commented on #1
1) Alojar varios clientes en un sólo servidor: La virtualización plena ya que esta virtualización permite a los diferentes usuarios utilizar el mismo sistema operativo pero cada usuario tendría su propio entorno sin pisar los entornos de los demás usuarios.

2) Crear un sistema eficiente de web + middleware + base de datos: La virtualización de aplicaciones porque esta nos permite separar las apli

[2013-10-05 16:01] josecolella commented on #3
Perfecto. Problema Resuelto

[2013-10-05 16:01] #3 closed, assigned to JJ

[2013-10-05 17:21] germaaan commented on #1
1. Alojar varios clientes en un solo servidor: usaría virtualización plena, porque el virtualizar completamente un ordenador que pueda ejecutar sistemas operativos, nos permite compartir fácilmente el servidor entre todos los usuarios, teniendo cada uno su propia máquina virtual en la que podría trabajar con total libertad sin que esto afectara a las máquinas del resto de clientes que usen ese mis

[2013-10-05 18:02] franciscomanuel commented on #1
1.- Para alojar varios clientes en un solo servidor usaría la virtualización plena ya que nos permite virtualizar todos los aspectos de un ordenador, así se comparte el sistema entre los distintos clientes y permite aislarlos los unos de los otros.

2.- La virtualización que usaría para crear un sistema eficiente de web+middleware+base de datos sería la virtualización de aplicaciones ya que nos pe

[2013-10-06 18:35] elmendacorp commented on #1
En el caso de tener varios clientes, si lo que quieren usar es un sistema operativo como tal con la simple gestión que realiza el sistema operativo y un acceso de escritorio virtual seria suficiente. En cambio si queremos un total aislamiento una virtualización total haría que el usuario tuviera una maquina plena. El único inconveniente que esto me plantea es que como usuarios tal vez no hagan uso

[2013-10-06 23:06] oskyar commented on #1
**1. Alojar varios clientes en un sólo servidor:** La virtualización **plena** es la más adecuada debido a que los usuarios podrán tener un sistema totalmente aislados de los demás, pudiendo configurar el sistema operativo totalmente a sus necesidades.

**2. Crear un sistema eficiente de web + middleware + base de datos:** Diría que la virtualización de **aplicaciones**, el usuario es capaz de eje

[2013-10-07 08:46] torresj commented on #4
En un entorno de producción puede ser interesante limitar los recursos para ver el comportamiento de la aplicación que se esta probando en determinadas condiciones. Ademas, dado que hablamos de pruebas, limitar la memoria y la CPU puede servir para prevenir comportamientos inesperados de la aplicación.

También puede ser interesante limitar los recursos en función del tipo de usuario. Por ejemplo,

[2013-10-07 08:58] josemlp91 commented on #4
Creo interesante una asignación de recursos adecuada a las prestaciones con las que van a contar los usuarios finales, para así poder ver el comportamiento real de cara a los consumidores. Pues como sabemos los dispositivos que se utilizan tienen capacidades muy distintas y ya no solo se centran en los pc o laptops, ahora contamos con una gran diversidad,  sean  smartphones baja gama, tablets, sma

[2013-10-07 09:20] JJ commented on #4
@josemlp91 Cuando hablamos de "dispositivos" nos referimos a entrada/salida y cosas por el estilo, no tablets y demás. ¿Cómo vas a cambiar con CGROUPS el tiempo que se le dedica a un tablet?

[2013-10-07 10:08] SergioMGamarra commented on #1
1. Alojar varios clientes en un sólo servidor: La virtualización más adecuada será la virtualización plena, ya que permitirá a los usuarios de dicho servidor tener sistemas totalmente aislados del resto de usuarios, pudiendo así personalizarlo a sus necesidades.
2. Crear un sistema eficiente de web + middleware + base de datos: La virtualización más adecuada será la virtualización de aplicaciones,

[2013-10-07 10:08] antonioguirola commented on #1
1.- Para alojar varios clientes en un mismo servidor lo más recomendable es la virtualización plena, permitiendo que cada cliente establezca la configuración del sistema operativo que más le interese en cada momento y asilando unos clientes de otros.

2.- En el caso de web+middleware+BD lo más indicado es utilizar virtualización a nivel de aplicaciones, de esta forma podemos empaquetar el software

[2013-10-07 10:15] josemlp91 commented on #4
Mi idea es hacer una aproximación de los recursos de un dispositivo con recursos limitados, (como un smartphone),
un ejemplo seria que estamos desarrollando una aplicación  web responsive, destina a una empresa donde sabemos que el 70% de los empleados que la van a usar, van interactuar con ella desde sus smartphones, (con una cpu y una ram muy por debajo de las maquinas del entorno de producción)

[2013-10-07 10:22] pedroag commented on #4
Básicamente se utilizaría para no "malgastar" recursos en aplicaciones que no requieren de tanta importancia un entorno de de producción determinado.

[2013-10-07 10:28] JoSeF267 opened #5 "CGROUP"
He intentado seguir los pasos para crear los grupos de control. Pero al crear la carpeta no introduce ningún tipo de fichero dentro de la misma.ç

Los comandos usados son
 mount -t cgroup cgroup /sys/fs/cgroup

Al realizar este comando me indica que el directorio ya esto montado y no se puede volver a montar.
Pero cuando creo mkdir buenos dentro del directorio creado no me sale los fichero que deb

[2013-10-07 10:29] antonioguirola commented on #4
A la hora de asignar recursos a un determinado programa en lo que hay que fijarse es en la cantidad de recursos compartidos que necesita, como capacidad de cómputo o espacio en memoria principal, de manera que se garantice un uso equitativo de los recursos por parte de todos los usuarios del entorno de producción.

Como ejemplo podemos suponer un sistema que realice simulaciones sobre la evolución

[2013-10-07 10:33] PSanchezR commented on #1
1) Alojar varios clientes en un solo servidor: Se debería utilizar preferentemente una virtualización plena para que cada usuario pueda disponer de una máquina independiente que no interfiera en las de los demás usuarios.

2) Crear un sistema eficiente de web, middleware y bbdd: En este caso el tipo de virtualización a utilizar sería la de aplicaciones que mantendría cada uno de estos software ais

[2013-10-07 10:40] SergioMGamarra commented on #4
La limitación o asignación de recursos en un entorno de desarrollo se puede aprovechar para optimizar al máximo los recursos de dicho entorno. Podemos asignar  recursos de forma que todas las aplicaciones dentro del entorno de producción tengan a su disposición los recursos que le son necesarios, de forma que ninguna aplicación tenga falta de recursos en ningún caso ni ninguna aplicación malgaste

[2013-10-07 10:47] franciscomanuel opened #6 "Error al montar el sistema de ficheros virtual"
He intentado seguir los pasos para crear un grupo de control. Al intentar montarlo me dice que ya esta montado y cuando intento crear un nuevo grupo me lo crea vacío.

[2013-10-07 12:19] josecolella commented on #4
Una posible aplicación de limitación o asignación de recursos es el gestionamiento de multiples clientes como lo que hacen las empresas de hosting o las empresas que suelen rentar servicios a usuarios. Lo que suelen hacer es limitar los recursos de procesamiento, memoria, entrada/salida, y/o ancho de bancha disponible al usuario. Esto es útil para la empresa que ofrece el servicio ya que se asegur

[2013-10-07 15:07] JJ commented on #4
@SergioMGamarra Hasta ahí llegamos. Se trata de que digas qué aplicación práctica en un entorno real podría tener eso.

[2013-10-08 16:57] torresj commented on #6
Yo tuve problemas parecidos y opte por crear y gestionar los grupos usando la biblioteca libcgroup. Al instalarla
ya no tienes que preocuparte de montar o desmontar los cgroups. Yo tengo ubuntu 13.04 y siempre me sale en /sys/fs/cgroup   . Cuando uses la orden cgcreate, en funcion de los parametros que le pongas se te creara una subcarpeta con el nombre del grupo. por ejemplo si pones sudo cgcreat

[2013-10-08 17:00] torresj opened #7 "Ejercicio 8 parte 3"
He supuesto que el ejercicio se puede hacer crando dos grupos, uno en el que se limite el uso a na cpu y otro en el que se limite el uso a la otra cpu (En mi caso tengo dos cpus). Para establecer esa restricción he encontrado que hay que editar el archivo que se encuentra en cpuset/cpuset.cpus en el cual hay que poner la cpu que se quiere usar (0,1,2,...) el problema está en que no consigo editar

[2013-10-08 17:05] JJ commented on #7
¿Has probado a escribir directamente encima usando redirección? Es decir, >

El 8 de octubre de 2013 19:00, Jaime notifications@github.com escribió:

##

JJ

[2013-10-08 17:06] torresj commented on #7
si y me dice permiso denegado (pese a que estoy como root)

[2013-10-08 17:08] JJ commented on #7
¿Un copy/paste o captura para que veamos exactamente qué pasa?

El 8 de octubre de 2013 19:06, Jaime notifications@github.com escribió:

##

JJ

[2013-10-08 17:11] JJ commented on #7
En todo caso, depende de cómo hayas creado o configurado el grupo; tienes
que haberlo hecho para que permita cambiar los cpusets.

El 8 de octubre de 2013 19:08, JJ Merelo jjmerelo@gmail.com escribió:

##

JJ

[2013-10-08 17:17] torresj commented on #7
![captura de pantalla de 2013-10-08 19 15 34](https://f.cloud.github.com/assets/5519161/1291143/82420cd2-303d-11e3-85bc-bc4c3d3da078.png)

[2013-10-08 17:20] JJ commented on #7
ls -alt, ¿por favor?

2013/10/8 Jaime notifications@github.com

##

JJ

[2013-10-08 17:22] torresj commented on #7
![captura de pantalla de 2013-10-08 19 22 20](https://f.cloud.github.com/assets/5519161/1291194/377d9896-303e-11e3-8720-1375c646aa52.png)

[2013-10-08 17:33] JJ commented on #7
He encontrado esto:

[code]

include CPUs that the parents already have. If you do not follow those
rules, the kernel cpuset subsystem will not let you create that cpuset. For
example, if you create a cpuset that contains CPU3, and then attempt to
create a child of that cpuset with a CPU other than 3, you will get an
error, and the cpuset will not be active. The error is somewhat cryptic in
that i

[2013-10-08 17:40] torresj commented on #7
no soy yo, es la libcgroup que al usar la orden cgcreate lo hace asi. Si creo yo con mkdir una carpeta dentro de cgroups dentro no tiene nada

[2013-10-08 17:49] JJ commented on #7
¿Has hibernado el ordenador?
Fíjate en este error https://bugzilla.redhat.com/show_bug.cgi?id=813228

2013/10/8 Jaime notifications@github.com

##

JJ

[2013-10-08 17:54] torresj commented on #7
no, ademas he probado a reiniciar pero me pasa lo mismo... voy a ver si encuentro algo en internet

[2013-10-08 17:55] JJ commented on #7
Si todo falla... pregunta en AskUbuntu o StackOverflow (que es lo mismo).
Por cierto, esto lo haces porque, como a otros compañeros, no te funcionaba
trabajar directamente con los grupos ¿no?

2013/10/8 Jaime notifications@github.com

##

JJ

[2013-10-08 17:58] torresj commented on #7
si, exacto

[2013-10-08 18:01] JJ commented on #7
También puede que sea parte del mismo problema. ¿Sólo te funciona mal el
cpuset o también el resto de las cosas, como cpubandwidth?

2013/10/8 Jaime notifications@github.com

##

JJ

[2013-10-08 18:02] JJ commented on #7
Y también puede ser que sólo puedas poner el cpuset desde el fichero de
configuración. Mira esta presentación
www.haifux.org/lectures/299/netLec7.pdf

El 8 de octubre de 2013 20:00, JJ Merelo jjmerelo@gmail.com escribió:

##

JJ

[2013-10-08 18:06] torresj commented on #7
Justo estoy intentando ahora hacer con el fichero de configuracion a ver si funciona

[2013-10-08 18:11] torresj commented on #7
¿hay que activar algo para que use ese el archivo de configuracion?

[2013-10-08 18:12] JJ commented on #5
Por favor, pega los mensajes y uname -a para ver qué kernel y versión del SO usas.

[2013-10-08 18:14] JJ commented on #7
Si arrancas seguro que lo pilla...

[2013-10-08 18:17] torresj commented on #7
Con el archivo de configuracion no me da errores

[2013-10-08 18:17] JJ commented on #5
¿Puedes probar alguna de las cosas que indican aquí?
http://comments.gmane.org/gmane.linux.kernel.containers.lxc.general/3367

Básicamente, se trata de buscar quién diablos es quien monta /cgroups y eliminarlo (o configurarlo de otra forma)

[2013-10-08 18:19] JJ commented on #7
¿Y pone las CPU de forma apropiada? Si es así cierra el issue.

2013/10/8 Jaime notifications@github.com

##

JJ

[2013-10-08 18:20] JJ commented on #5
Prueba a usar este programa, cpuset http://code.google.com/p/cpuset/ aunque me imagino que te va a dar el mismo problema...

[2013-10-08 18:21] torresj commented on #7
Si, muchas gracias

[2013-10-08 18:21] #7 closed, assigned to JJ

[2013-10-08 18:22] JJ commented on #6
Por favor, mirad el #5 que tiene el mismo problema.

[2013-10-08 18:22] #6 closed, assigned to nobody

[2013-10-08 18:51] STiago commented on #1
- Alojar varios clientes en un solo servidor: para ello usaría la virtualización plena puesto que los componentes del servidor van a ser usados por cada cliente de forma aislada.
- Crear un sistema eficiente de web + middleware + base datos: la virtualización más apropiada sería la de nivel de aplicaciones ya que podemos empaquetar dicho software aislándolo, además de que permite su funcionamiento

[2013-10-08 19:23] JoSeF267 commented on #5
![captura de pantalla de 2013-10-08 21 13 46](https://f.cloud.github.com/assets/487138/1292115/d0896a6e-304e-11e3-8bea-71ea31540be5.png)

Perdón por contestar tan tarde pero no había visto los mensajes le adjunto la pantalla de captura. También he realizado lo que me ponía en las paginas web y me he descargado el programa y sigue me sigue dando los mismos errores.

[2013-10-09 00:39] oskyar opened #8 "Problema con cgroups"
Buenas, tengo un problema al ejecutara los grupos con cgroups.
Primero creo un grupo así

Y después lo ejecuto así

y me salta este error

He buscado por internet pero las respuestas que dan no me satisfacen. Vaya.. que he probado algunas soluciones y no me han dado resultado.

[2013-10-09 05:30] JJ commented on #8
Bueno, es un warning, no un error. Yo creo que no tiene nada que ver con
cgexec. En todo caso, debería de funcionar: mira en los directorios
correspondientes y verás como funciona correctamente.

El 9 de octubre de 2013 02:39, Óscar Zafra notifications@github.comescribió:

##

JJ

[2013-10-09 07:54] torresj opened #9 "Error al hacer fork"
Formatee el pc y al intentar hacer una copia del repositorio de la asignatura, copie el de un compañero ,josecolella,su repositorio en vez del de la asignatura. Aunque ya lo he hablado con él quería que se supiera que ha sido por error y no por otros motivos

[2013-10-09 08:42] oskyar commented on #8
No he dicho nada, anoche llevaba una empanadilla mental.

Gracias.

[2013-10-09 08:42] #8 closed, assigned to JJ

[2013-10-09 08:50] JJ commented on #9
En absoluto ha sido un error. Los repositorios están para eso. ¡Copiad, malditos!

[2013-10-09 08:50] #9 closed, assigned to nobody

[2013-10-09 17:04] JoSeF267 commented on #4
Pienso que la aplicación que debería de tener limitación a la hora de usar la CPU debería ser una en la cual no quisieras que afectara al entorno de producción ,es decir, si estuviéramos probando como se comportaría un programa final para un usuario y queremos ver exactamente como este explota nuestro sistema podríamos limitar la velocidad de CPU al Firefox por ejemplo ya que en verdad no seria un

[2013-10-09 20:27] torresj opened #10 "Ejercicio 11 (SaaS)"
¿A qué se refiere el ejercicio 11?¿hay que comentar ejemplos de Software as a service?

[2013-10-09 20:41] josecolella commented on #10
@torresj Yo lo que hice fue hablar sobre que cosas que usamos hoy en dia que siguen los principios de SaaS. Creo que eso es lo que quiere.

[2013-10-09 20:50] torresj commented on #10
Osea poner ejemplos actuales como pueder el webmail o escritorio remoto o cosas asi?

[2013-10-09 21:28] josecolella commented on #10
SI...eso son los ejemplos que use yo...

[2013-10-10 05:14] JJ commented on #10
Efectivamente.

2013/10/9 Jose Miguel Colella notifications@github.com

##

JJ

[2013-10-10 09:17] torresj commented on #10
Perfecto, muchas gracias

[2013-10-10 09:17] #10 closed, assigned to JJ

[2013-10-10 11:32] rafaelgonz commented on #4
En mi opinión, hay dos posibles aplicaciones interesantes:

1º Limitar a usuarios en cualquier aplicación web, diferenciando lo que puede hacer un usuario de pago, a uno que no es de pago, como por ejemplo cualquier "jueguecillo android" en el que los usuarios gratis tienen más limitaciones que los usuarios premium.

2º Limitar los recursos de usuarios en SO, para no malgastar recursos, como por e

[2013-10-10 15:32] jcastilloprez commented on #4
Sería ver que recursos necesita en mayor necesidad tu aplicación y darle más prioridad a esos recursos y el entorno de producción que más se adecue a sus características. Después, si hay algún recurso que tu aplicación no necesite quitarle toda la prioridad para que a la hora de que otra aplicación necesite ese recurso, que tu aplicación no necesita, no se vea perjudicada en su funcionamiento.

Un

[2013-10-10 16:16] franvalverde commented on #4
Un ejemplo de aplicación con limitación o asignación de recursos puede ser una plataforma para gestionar una empresa.
Asignación de recursos: los empleados solo puedan acceder a documentos asignados para tal departamento o usar ciertas impresoras.
Limitación de recursos: algunos empleados no podrán entrar a ciertas páginas web o dispondrán de una cuota de disco reducida.

[2013-10-10 17:57] JJ commented on #4
@jcastilloprez Eso es lo que hace la limitación de recursos, dicho con otras palabras. Os pido ejemplos reales: ¿qué aplicación real usa la CPU constantemente y la memoria para nada, por ejemplo? @franvalverde ¿cómo harías eso usando aislamiento de recursos? ¿Puedes poner un ejemplo real? En cuanto a lo de la limitación de recursos, ¡se trata de recursos del sistema! No de páginas web.

[2013-10-10 18:32] JJ commented on #5
¿Puedes probar a editar el fichero de configuración `/etc/cgconfig.conf` para establecer las reglas desde ahí en vez de desde la línea de órdenes? Desde ahí puedes crear grupos y demás. Aparentemente, algún programa ha montado cgroup y no puedes usarlo de otra forma.

[2013-10-10 18:39] JJ opened #11 "¿Qué aplicaciones de tipo Software as a Service usas habitualmente?"

[2013-10-10 19:33] rafacruiz commented on #11
Las aplicaciones Sotware as a Service que más uso a diario son dropbox y gmail.

[2013-10-10 19:51] JJ commented on #11
@rafacruiz de hecho, Dropbox es "Infraestructure as a Service". Provee un servicio de almacenamiento, con alguna cosa más...

[2013-10-10 21:45] jcastilloprez commented on #4
Una aplicación que según como esté configurada nos va a consumir más o menos recursos del sistema es el antivirus, por ejemplo el antivirus Kaspersky. Este antivirus nos analiza nuestro sistema en tiempo real mediante un análisis heurístico que se basa en algoritmos complejos y requiere un mayor uso de la CPU. Este análisis cuenta con tres niveles de protección: mínimo, medio y máximo. Si lo confi

[2013-10-11 05:10] JJ commented on #4
@jcastilloprez dos cosas: Kaspersky no funciona, que yo sepa, en Linux. Y segunda cosa: estamos hablando de aplicaciones reales en una empresa, no de limitación o no de recursos en un aparato de sobremesa. Por último, no se trata de que digáis que si limitamos los recursos consumirá menos recursos, que hasta ahí llegamos la mayoría: se trata de que lo planteéis en un entorno de producción.

[2013-10-11 08:07] rafaelgonz commented on #11
En mi opinión el SaaS más importante y que más servicios ofrece es google en general, con su correo, chat, nube online (google drive), posibilidad de hacer webs prefabricadas, google docs...

[2013-10-11 08:10] R-R-R-R-1 commented on #4
Una posible aplicación relacionada con la limitación de recursos podría ser la gestión de un sistema de infraestructura para un banco, en donde se de prioridad a las aplicaciones encargadas de las transacciones, ya que son las operaciones más importantes y a las cuales se le deben de asignar más recursos. Mientras que las aplicaciones encargadas de dar información podrían disponer de menos recurso

[2013-10-11 08:13] antonioguirola commented on #11
Las aplicacines SaaS que más utilizo son:
- La interfaz web de GMail.
- El reproductor de música Grooveshark
- El editor de textos de Code Academy
- Las aplicaciones de ofimática de Google Docs

[2013-10-11 08:21] SergioMGamarra commented on #11
Los SaaS que utilizo habitualmente son: Google Drive, Google Maps, Gmail o Google Calendar, y otros SaaS de gestión de proyectos como GitHub, TeamBox o RedMine.

[2013-10-11 08:29] SergioMGamarra commented on #4
Un ejemplo de limitación de recursos se puede en un servidor de hosting, el cuál limita los recursos de cada cliente según el precio mensual que haya pagado. Otro ejemplo se puede dar cuando en una empresa con un solo servidor, donde hay varias plataformas subidas, por lo que las plataformas con un número mayor de usuarios se les dedicará más recursos que a otras con menor demanda.

[2013-10-11 09:00] JoSeF267 commented on #11
Los SaaS que utilizo mas a diario son : Gmail , Google Docs ,Github bastante

[2013-10-11 09:02] franvalverde commented on #11
Las SaaS que mas uso: Google Docs, Gmail y ultimamente GitHub

[2013-10-11 09:05] pedroag commented on #11
Los Saas más utilizados en este momento son: Gmail y GitHub.

[2013-10-11 09:16] rogegg commented on #4
Por ejemplo en un servidor que preste servicio de conexión por escritorio remoto a un cliente, se le asignen más o menos cores y recursos del servidor dependiendo de la tarifa que elija el cliente. Obviamente a más recursos ofrecidos más caro será el servicio.

[2013-10-11 15:27] JJ commented on #11
Google Drive, de por sí, es IaaS. Las aplicaciones sobre google Drive sí
son SaaS

2013/10/11 Sergio Muñoz Gamarra notifications@github.com

##

JJ

[2013-10-11 15:28] JJ commented on #11
@josef267 Dropbox no lo es. Es más bien IaaS: ofrece almacenamiento.

2013/10/11 JoSeF267 notifications@github.com

##

JJ

[2013-10-11 21:54] josemlp91 commented on #11
Otros SaaS que utilizo  son Prezi y Office365

[2013-10-11 22:43] josecolella commented on #11
Los SaaS que uso más habiltualmente son las redes sociales como Facebook y Twitter, y además los servicios de correo como Yahoo, Gmail. Otros que no uso pero son usados por otros son Microsoft Office 365 y Turbo Tax Online

[2013-10-12 00:20] oskyar commented on #4
Imaginemos que necesitamos un servidor y como se va a usar poco de primeras utilizamos un VPS (Virtual Private Server). Por lo tanto cogeremos uno barato que tenga pocos recursos, por lo que ya estarían limitándonos el servidor en si para nuestro servidor virtual.
Ahora bien, queremos instalarnos un sistema de Base de Datos + Servidor de aplicaciones en el servidor. De primeras se puede testear el

[2013-10-13 10:50] jcastilloprez commented on #4
Un ejemplo de limitación de recursos se puede dar en un servidor de hosting de una empresa, el cuál limitaría los recursos de cada empleado de la empresa según el puesto y tareas que realice en la empresa.

[2013-10-13 10:51] JJ commented on #4
@jcastilloprez una vez más, es evidente que con limitación de recursos se pueden limitar los recursos. ¿Pero qué recursos limitarías y cómo, dependiendo del puesto? Si tú fueras el jefe de Informática de Tornillos Benítez y te dijera el jefe: "límitame los recursos de los empleados". ¿Cómo lo harías?

[2013-10-13 11:06] jcastilloprez commented on #4
Si el empleado fuera el administrador que se encarga del mantenimiento y correcto funcionamiento del servidor y nuestro servidor tiene por ejemplo 8 cores le asignaría la mitad de cores ya que es el empleado que más carga le mete al servidor y así con los demás componentes del servidor como la memoria RAM, el disco duro, etc. En caso contrario, si el empleado fuera la limpiadora que lo único que t

[2013-10-13 15:08] franciscomanuel commented on #4
Las funciones de control de recursos de Oracle Solaris permiten que se comparta el ancho de banda entre las VNIC en la red virtual de un sistema. También puede utilizar funciones de control de recursos para asignar y gestionar el ancho de banda en una interfaz física sin VNIC ni máquinas virtuales.

http://docs.oracle.com/cd/E26921_01/html/E25833/gewag.html

[2013-10-13 15:26] javierGaliana commented on #1
Alojar varios clientes en un servidor.

Para alojar varios clientes en un servidor se podría utilizar una virtualización a nivel de sistema operativo. Con esto conseguimos que varios usuarios tengan su propio espacio, es decir, estén aislados del resto de usuarios gracias a que el kernel lo permite. Además del aislamiento también provee de  gestión de recursos para limitar el impacto entre distint

[2013-10-13 15:41] JJ commented on #4
@jcastilloprez estás suponiendo que en ese negocio todo el mundo se conecta en el mismo ordenador. ¿Conoces alguno en el que sea así? @franciscomanuel Muy bien. ¿Y? ¿Cómo se puede usar eso en un entorno _real_?

[2013-10-14 10:17] franciscomanuel commented on #11
Las SaaS que uso habitualmente son:  Google Docs y Gmail

[2013-10-14 11:17] jmanday commented on #1
1. Para alojar varios clientes en un servidor utilizaríamos una virtualización plena, ya que este tipo nos proporcionaría el mecanismo para poder virtualizar todos los aspectos de la máquina anfitriona, de forma que cada cliente que trabaje en el servidor podrá disponer de todos los recursos de los que dispone la máquina invitada.
2. Para crear un sistema web + middleware + base de datos utilizarí

[2013-10-14 11:45] PSanchezR commented on #11
Los Saas que mas utilizo son los proporcionados por google como Gmail, las aplicaciones montadas sobre Google drive, etc. También la plataforma de reproducción de audio Spotify y la plataforma de reproducción de vídeo Youtube.

[2013-10-14 11:56] antonioguirola opened #12 "Problema en OpenShift para conexión con base de datos"
He subido la práctica del periódico web que desarrollé el curso pasado en TW a OpenShift, he seguido los pasos para configurar la BD pero a la hora de realizar consultas me devuelve el siguiente error y no encuentro el resultado:

Conexión fallida: SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)

El enlace es: http://appdeprueba-antonioguir

[2013-10-14 12:41] torresj commented on #11
Las SaaS que mas uso son gmail y Facebook. Aunque uso otras de forma menos habitual como puede ser spotify o twiter. Github es otro SaaS que desde hace poco uso con mucha frecuencia

[2013-10-14 12:48] torresj commented on #12
Usas para crear la conexión a la base de datos las variables correctas? Hay dos variables globales de PHP que se crean cuando añades mysql a la aplicación en openshift

[2013-10-14 12:49] torresj commented on #12
En este enlace puedes ver al final como añade la base de datos. Es para windows pero saltate esa parte
http://xmeele.wordpress.com/2013/03/27/guia-completa-de-openshift-de-red-hat-para-principiantes-windows/

[2013-10-14 14:05] elmendacorp commented on #11
Dropbox, gmail, practicamente casi todo esta como saas.

[2013-10-14 14:08] elmendacorp commented on #12
puede ser que la conexión no la reconozca como localhost, tal vez tengas un subdominio propio donde se alojan las bases de datos.

[2013-10-14 14:14] rafaelgonz opened #13 "Problema con la inserción de imágenes"
¿Alguien ha conseguido insertar imágenes en los ejercicios?

Yo he probado con una página wiki, y con un proyecto .md de mi repositorio y nada, lo he intentado poniendo el enlace de dropbox, donde están alojadas las imágenes.

Gracias

[2013-10-14 15:08] rafaelgonz opened #14 "Práctica 1"
Mi resolución a la práctica 1 puede visualizarse en el siguiente enlace:

https://github.com/rafaelgonz/IV/blob/master/Practica1_Rafaelgonz.md

[2013-10-14 15:10] JJ commented on #13
¿Un ejemplo?

Saludos

El 14 de octubre de 2013 16:14, Rafa notifications@github.com escribió:

##

JJ

[2013-10-14 15:12] rafaelgonz commented on #13
Mis ejercicios de la clase del día 11, y uno enlace:

 ![captura 1](https://www.dropbox.com/s/0j6gzso7mbb0yis/captura1.gif)

[2013-10-14 15:37] JJ commented on #14
Ya me he asignado y puesto el hito correspondiente. La miro y pongo la nota en privado. Por favor, mira las notas que te he puesto en el commit y corrige los errores. Envía un nuevo comentario cuando los hayas corregido.

[2013-10-14 15:41] JJ commented on #12
Por lo que parece aquí:
https://www.openshift.com/blogs/manipulate-your-paas-database yo diría que
no usa sockets para acceder a la base de datos, sino un URL determinado del
estilo

mysql://127.3.110.129:3306/

Prueba a usar rhc para crear el app y añadir el cartucho y usa las
variables que te dé en el mismo.

El 14 de octubre de 2013 14:48, Jaime notifications@github.com escribió:

##

JJ

[2013-10-14 15:43] JJ commented on #12
Aquí da una poca más información
https://www.openshift.com/forums/express/mysql-db-name En algunos casos (de
hecho, en la mayoría) será conveniente que uséis los propios foros del
sitio o aplicación que estéis usando para preguntar, en este caso el de
OpenShift

El 14 de octubre de 2013 17:41, JJ Merelo jjmerelo@gmail.com escribió:

##

JJ

[2013-10-14 15:49] germaaan commented on #4
En un empresa que tiene equipos para funcionar como terminales de punto de venta que se conectan a un servidor central para enviar y recibir datos, nos podría interesar que en esos equipos los programa relacionadas con la gestión de ventas tengan una mayor prioridad que por ejemplo otros procesos que se ejecuten en el sistema como puede ser la actualización del antivirus o los procesos en segundo

[2013-10-14 16:00] germaaan commented on #11
El SaaS que más uso sin duda es Gmail, ya que por motivos cotidianos reviso el correo varias veces a diario, también uso mucho Facebook para comunicarme con otras personas, Twitter para comentar diversas cosas a diario, Youtube para ver videos y Disqus para realizar comentarios en las páginas de diversos sitios webs.

[2013-10-14 16:09] germaaan commented on #13
Para enlazar imágenes en las páginas del wiki la forma que he encontrado más cómoda es subir las imágenes al Dropbox como has hecho, y cuando le das a obtener el enlace público que es el que has puesto en el último comentario (https://www.dropbox.com/s/0j6gzso7mbb0yis/captura1.gif), sustituye las "www" por "dl" y le das a intro para ir a esa página, automáticamente te generará el enlace público de

[2013-10-14 16:27] rafaelgonz commented on #13
Va fenomenal, muchas gracias!!!

[2013-10-14 16:27] JJ commented on #13
Cerrando el issue pues.

[2013-10-14 16:31] #13 closed, assigned to nobody

[2013-10-14 16:36] JJ commented on #5
¿Cerramos este issue? ¿Lo has probado?

[2013-10-14 18:26] antonioguirola commented on #12
Ya he solucionado el problema, al menos parcialmente. Estaba relacionado con las variables. Siguiendo las instrucciones de https://www.openshift.com/blogs/manipulate-your-paas-database he establecido en mi archivo de configuración de MySQL con los datos de mi aplicación las líneas:
#for MySQL
OPENSHIFT_MYSQL_DB_PORT=3306
OPENSHIFT_MYSQL_DB_HOST=127.3.110.129
OPENSHIFT_MYSQL_DB_PASSWORD=smWh27V9eYa

[2013-10-14 18:28] rafaelgonz commented on #14
Ya he arreglado los fallos, pero estoy teniendo problemas para subir el proyecto, a la hora de hacer git push, da el mensaje Everything up-to-date
 y no actualiza nada, he creado un nuevo repositorio, y nada, ¿qué puede ser?

He clonado el repositorio en mi máquina, he añadido la carpeta practica1, y después hago lo siguiente:

git commit -m 'práctica 1'

git push

Y no actualiza nada, ¿qué puede

[2013-10-14 18:29] JJ commented on #12
Antonio, ¿no habrás puesto tu verdadera clave públicamente? Si es así,
edita y borra. Después, si se ha solucionado cierra el ticket.

[2013-10-14 18:35] JJ commented on #14
¿Has hecho git add de los ficheros nuevos?

[2013-10-14 18:41] antonioguirola commented on #12
Los datos ahí puestos son los del foro de ejemplo.

He eliminado el repositorio.

[2013-10-14 18:41] #12 closed, assigned to JJ

[2013-10-14 18:43] JJ commented on #12
Puedes borrar el commit, con eso sería suficiente

[2013-10-15 07:30] rafaelgonz commented on #14
Práctica arreglada, subida y funcionando correctamente, está aquí: https://github.com/rafaelgonz/Practicas/tree/master/Practica1

[2013-10-15 12:15] R-R-R-R-1 commented on #11
Sin duda reitero lo dicho por mis compañeros, pues yo también uso de forma muy continuada Gmail, así como también otros servicios de Google como son Google Docs o Calendar.

Otros que también uso son Dropbox (para almacenamiento y compartición en la nube), Grooveshark (como reproductor on-line) o todos los relacionados con las redes sociales (Facebook, Twitter, etc.)

[2013-10-15 16:54] torresj opened #15 "Entrega practica 1"
¿Cuando se entrega la practica oficialmente?¿Lunes o este viernes?¿La entrega como tope por la noche o en horario de clase?

[2013-10-15 22:15] jcastilloprez commented on #11
Las aplicaciones Software as a Service que utilizo habitualmente son:
- Gmail y Outlook como servicios de correo.
- Grooveshark, Spotify y Youtube como reproductores de música.
- Facebook como redes sociales.

[2013-10-16 10:20] STiago commented on #11
Las SaaS que más uso son Gmail, Twitter  y ultimamente GitHub.

[2013-10-16 10:49] JJ commented on #15
La puedes entregar cuando quieras, como tope antes de la clase del lunes
que viene.

[2013-10-16 11:04] torresj commented on #15
Ok, muchas gracias

[2013-10-16 11:04] #15 closed, assigned to JJ

[2013-10-16 13:54] rafaelgonz commented on #14
cierro esto?

[2013-10-16 17:38] JJ commented on #14
No, la práctica la cierro yo cuando la corrija.

[2013-10-16 20:06] josecolella opened #16 "Práctica 1"
Profesor,
Tengo el código de mi aplicación y la documentación en el siguiente enlace:
- https://github.com/josecolella/Practica1IV

La dirección http de la aplicación es:
- https://github.com/josecolella/Practica1IV

[2013-10-17 08:33] antonioguirola opened #17 "Práctica 1"
Entrega de la práctica 1:
- https://github.com/antonioguirola/periodico

La aplicación se puede probar en:
- http://appdeprueba-antonioguirola.rhcloud.com

La aplicación no muestra los banners publicitarios en el index ni en las secciones generales y no se por qué, ya que la misma aplicación en mi servidor local sí las muestra correctamente.

[2013-10-17 08:50] oskyar commented on #11
Las aplicaciones que uso más frecuentemente son:
- Gmail y Outlook,  como servicios de correo.
- Facebook, Twitter y Netwie como redes sociales y blog.
- Spotify como servicio de reproducción de música.
- Battlefield 3, Candy Crush Saga como juegos (Lo mismo que son...)
- Antes SVN pero ahora mucho más GitHub.

Incluyo Battlefield 3 como SaaS porque para acceder a él tiene que ser mediante un SaaS

[2013-10-17 09:46] fllodrab commented on #4
En cualquier empresa donde haya montada una red WAN se podría hacer una limitación de recursos controlando aquellos usuarios que estén usando mas ancho de banda y automáticamente asignarles un límite menor y así asegurar que la red WAN de la empresa no se colapse.

[2013-10-17 11:13] rafacruiz opened #18 "Práctica 1"
La práctica se encuentra en el siguiente enlace:

 https://github.com/rafacruiz/PracticaIV/tree/master/Practica1

Y la aplicación en el siguiente enlace:

 http://young-bastion-6671.herokuapp.com/

[2013-10-17 12:10] pedroag opened #19 "Práctica 1"
Enlace a la página de la aplicación:
- http://prueba-pedroag.rhcloud.com/

Enlace al repositorio:
- https://github.com/pedroag/Practica1IV

[2013-10-17 12:38] JJ commented on #16
Uno de los dos enlaces está mal, ¿no?

[2013-10-17 13:38] franciscomanuel opened #20 "Práctica1"
El enlace a mi práctica se encuentra en:

https://github.com/franciscomanuel/Practica1

El enlace a mi aplicación en openShift es:

http://practica-franciscomanuel.rhcloud.com/

[2013-10-17 15:15] JJ commented on #19
Algunos enlaces a noticias no funcionan. ¿Eso debería de ser así?

[2013-10-17 15:31] JJ commented on #4
@fllodrab ¿qué tiene que ver la WAN con los recursos? ¿Cómo haces eso? ¿Qué
sistemas de autenticación y de calidad de servicio usarías?

[2013-10-17 17:19] JJ commented on #14
Has usado una licencia de contenido libre (Creative Commons) en vez de una licencia de software libre (como GPL o Apache). En este caso debes de mirar qué licencia tiene RHC, lo que has usado para crear el programa, y usar una licencia compatible con él.

[2013-10-17 17:19] #14 closed, assigned to JJ

[2013-10-17 17:24] JJ commented on #16
Te falta elegir una licencia para la aplicación. Debes incluirla como un texto en el repositorio. Creo que hay también algún fichero que no se usa en realidad, "purga" lo usado en la práctica.

[2013-10-17 17:25] #16 closed, assigned to JJ

[2013-10-17 17:31] JJ commented on #17
No has usado ninguna licencia ni documentado el proyecto. Una mínima documentación (por qué has elegido OpenShift, por ejemplo) habría hecho falta.

[2013-10-17 17:32] JJ commented on #18
No has asignado ni el hito ni el tipo de issue.

[2013-10-17 17:35] JJ commented on #18
Tampoco has decidido una licencia para el programa ni documentado el mismo proyecto (no en otro proyecto, así es un lío)

[2013-10-17 17:36] #17 closed, assigned to JJ

[2013-10-17 17:37] JJ commented on #19
No has puesto tampoco ni la etiqueta ni el hito.

[2013-10-17 17:38] JJ commented on #19
La documentación es incompleta, en el repo no has elegido licencia y has incluido multitud de ficheros que en realidad no se usan (por ejemplo, las copias de seguridad)

[2013-10-17 17:38] #19 closed, assigned to JJ

[2013-10-17 17:40] JJ commented on #20
No has etiquetado ni asignado etiqueta. Tampoco has elegido una licencia para el código. la documentación es mínima, pero correcta.

[2013-10-17 17:48] fllodrab commented on #4
No he dicho nada. Se me ocurre otro ejemplo: En una empresa donde hay que hacer determinadas operaciones con programas alojados en el servidor que requieren de una elevada cantidad de recursos, crearía un grupo de control donde alojar dichas aplicaciones asignandole, si por ejemplo nuestro servidor tuviera 8 cores y 64GB de RAM, 4 cores y 48 GB de RAM.  Mientras que el resto de programas que no ti

[2013-10-17 17:52] josecolella commented on #16
Lo del fichero que no se usa esta hablando sobre indexOLD.php

[2013-10-17 17:54] JJ commented on #16
Ese tiene toda la pinta y en estando ese, es muy posible que haya otros.

[2013-10-17 18:25] torresj opened #21 "Práctica 1"
Dirección de la practica:

   https://github.com/torresj/practica-1

Dirección de la documentación:

   https://github.com/torresj/practica-1/blob/master/documentacion/documentacion.md

Dirección de la aplicación:

   http://generadordeobjetivos-gii.rhcloud.com/

[2013-10-17 18:51] antonioguirola commented on #17
¿La puedo seguir modificando hasta el lunes?

[2013-10-17 19:05] fllodrab commented on #11
Las aplicaciones SaaS que más uso son:
-Facebook, como método de comunicación.
-Google Hangouts, como método de comunicación y monitorización remota.
-Twitter, como vía de información y también de socialización.
-Youtube, como reproductor de música.
-QuakeLive, como entretenimiento (aunque no lo uso tanto)
-Y últimamente GitHub.

[2013-10-17 19:35] jpm88 commented on #11
Las aplicaciones SaaS que más uso son:
- Twitter y Facebook para comunicación.
- GitHub para la asignatura
- Gmail y Outlook como servicio de correo.
- Prezi para presentaciones online.
- Steam y Origin para entretenimiento.
- Youtube como reproductor de música/video

[2013-10-17 19:54] josecolella opened #22 "Práctica 1"
Profesor,
Ya he eliminado ficheros que no aportan nada a la aplicación final, y además he optado
por la licencia GPLv3 para la aplicación.

El código de la aplicación esta en:
https://github.com/josecolella/Practica1IV

La aplicación se puede acceder en la siguiente dirección http:
http://periodico-ivblog.rhcloud.com/

La documentación de la aplicación esta almacenada dentro del README.md
de https

[2013-10-17 20:01] josecolella opened #23 "Práctica 1"
Profesor,
He eliminado los ficheros que no aportan a la aplicación, además he optado por el uso de la licencia GPLv3 de GNU.

La aplicación y documentación esta en:
https://github.com/josecolella/Practica1IV

Se visualiza accediendo a la siguiente dirección http:
http://periodico-ivblog.rhcloud.com/

[2013-10-17 20:05] jpm88 commented on #1
1. Alojar varios clientes en un servidor: Se utilizaría virtualización plena, puesto que todos los componentes del servidor serán utilizados por los clientes y con la virtualización plena se virtualizan todos los aspectos.
2. Crear un sistema efiiciente de web + middleware + base de datos: Se utilizaría la virtualización de aplicaciones, ya que empaqueta todas las aplicaciones para que se puedan e

[2013-10-17 20:06] josecolella commented on #16
Profesor, si se han quitados los correspondientes ficheros y se ha agregado una licencia, hacemos otro `issue`

[2013-10-17 20:15] jpm88 commented on #4
Un ejemplo relacionado con la limitación de recursos podría ser la gestión de un sistema de bases de datos, es posible que se necesiten más recursos en los niveles más significativos de la base de datos, ya sea relacionados con la seguridad o el almacenaje de datos privados, mientras que en los niveles menos significativos como datos poco relevantes o de menos importancia se necesiten menos recurs

[2013-10-17 20:32] R-R-R-R-1 opened #24 "Práctica 1"
Visualiza mi aplicación en este enlace:

http://myapp-raulsanchez.rhcloud.com/

Y la documentación y archivos se encuentran aquí:

https://github.com/RaulSFuentes/RaulSanchez-Practica1-IV-2013

[2013-10-17 21:17] franciscomanuel commented on #20
Ya he asignado una licencia

[2013-10-17 21:18] pedroag commented on #19
He limpiado un poco las copias de seguridad, y añadido licencia. Los enlaces que no funcionan son los "otros enlaces de interés" que no están redirigidos a archivos .html en vez de a .php.

[2013-10-17 21:35] rogegg commented on #11
Outlook, Facebook y Youtube son las aplicaciones SaaS que habitualmente utilizo. En menos uso el reproductor web de Spotify y, como han dicho los compañeros, desde hace poco Github para la asignatura.

[2013-10-17 21:36] pedroag commented on #19
¿Ya está corregida la práctica, o aún se puede modificar?

[2013-10-18 05:23] JJ commented on #17
S?

[2013-10-18 05:47] JJ commented on #4
@jpm88 ¿Y de qué forma, con las herramientas que se han dado en este tema, crees que se podría hacer eso? ¿Qué tienen que ver los recursos con la seguridad?

[2013-10-18 05:48] JJ commented on #16
Como quieras, pero no es necesario.

[2013-10-18 05:50] JJ commented on #19
Ya la has modificado, ¿no?

[2013-10-18 08:36] antonioguirola commented on #17
Ya he añadido la licencia y extendido un poco la documentación.

[2013-10-18 09:10] rafacruiz commented on #18
Modificación de la práctica, añadida la licencia y la documentación al mismo proyecto.

 https://github.com/rafacruiz/PracticaIV/tree/master/Practica1

[2013-10-18 12:15] germaaan opened #25 "Práctica 1"
Dirección del fuente de la práctica:
https://github.com/germaaan/PRACTICA_01

Dirección donde está funcionando la aplicación:
http://acceso-germaaan.rhcloud.com/

[2013-10-18 12:37] jpm88 commented on #4
@JJ Me refería en el caso de que se necesite de algún software adicional para mantener la seguridad de la base de datos, es posible que sea posible limitar los recursos según el nivel de seguridad que se desee proteger.

[2013-10-18 15:53] JJ commented on #4
@jpm88 Lo entiendo menos todavía.

[2013-10-19 09:47] josemlp91 commented on #1
Comparto la opinión de mis compañeros,

Para alojar varios clientes en un sólo servidor, visualización plena,  que facilita mayor  control del sistema a los usuarios y permite  aislarlos los unos de otros.

Para crear un sistema eficiente de web + middleware + base de datos, virtualización de aplicaciones, por permitir encapsular software y hacer que se ejecute independientemente a la plataformas,

[2013-10-19 09:48] PSanchezR opened #26 "Práctica 1"
Repositorio de la práctica:
https://github.com/PSanchezR/pr-cticas
En dicho repositorio esta incluido el código y la documentación de la misma.

La práctica funcionando bajo PAAS openshift:
http://practica1-practicasiv.rhcloud.com/

[2013-10-19 11:44] JJ commented on #26
La documentación tampoco es demasiado amplia y tienes un error en la codificación de caracteres (último pantallazo)

[2013-10-19 11:44] #26 closed, assigned to JJ

[2013-10-19 11:46] JJ commented on #24
No has incluido la licencia de las imágenes ni ningún tipo de documentación.

[2013-10-19 11:46] #24 closed, assigned to JJ

[2013-10-19 11:47] #21 closed, assigned to JJ

[2013-10-19 11:48] #22 closed, assigned to JJ

[2013-10-19 11:48] #23 closed, assigned to JJ

[2013-10-19 11:49] #20 closed, assigned to JJ

[2013-10-19 11:49] #18 closed, assigned to JJ

[2013-10-19 13:23] fllodrab opened #27 "Práctica 1"
Entrega de la práctica 1:

https://github.com/fllodrab/Practica1

La aplicación se puede probar en:

http://morning-temple-5388.herokuapp.com

[2013-10-19 14:23] PSanchezR commented on #26
Solucionado el problema en el último pantallazo, cambio de README a README.md, añadido el fichero LICENSE.md, y eliminados los echos en el código para mostrar el HTML

[2013-10-19 15:58] anaprados commented on #11
A parte de las ya mencionadas, me atrevo a decir que Whatsapp es una aplicación SaaS que uso a diario

[2013-10-19 16:26] JJ commented on #11
No hay aplicaciones de escritorio que sirvan como mensajería; una aplicació
de mensajería no se entiende si no es en la red. SaaS es sólo cuando se
trata de una aplicación de escritorio que se haya trasladado a la red, por
lo tanto WhatsApp, según ninguna definición, sería un SaaS

[2013-10-19 16:29] JJ commented on #27
Es correcta, pero tampoco excepcional. Debes acreditar siempre la procedencia de las imágenes.

[2013-10-19 16:29] #27 closed, assigned to JJ

[2013-10-19 17:42] JaviRubio commented on #1
¿Qué tipo de virtualización es la más adecuada para: alojar varios clientes en un sólo servidor, crear un sistema eficiente de web + middleware + base de datos, un sistema de prueba de software e integración continua? Responder y razonar.

Caso 1:Varios clientes en un servidor

La solución mas adecuada  es la virtualización plena, ya que nos permite mantener a varios clientes dándole a cada uno la

[2013-10-19 18:10] jcastilloprez opened #28 "Práctica 1"
La dirección del fuente de la práctica se encuentra en:
https://github.com/jcastilloprez/Practica1

La dirección en donde está funcionando la aplicación se encuentra en:
http://practica1-jcastilloprez.rhcloud.com/

[2013-10-19 18:27] josemlp91 opened #29 "Practica 1"
Hola, estos son los enlaces de  mi practica:

Aplicacion:
http://foroivirtuales2-josemlp.rhcloud.com/

Fuentes:
https://github.com/josemlp91/practica1/

Documentación:
https://github.com/josemlp91/practica1/wiki/Documentaci%C3%B3n-Practica-1
https://github.com/josemlp91/practica1/blob/master/docuP1.md

[2013-10-19 18:30] JJ commented on #29
La documentación debe ir también en el proyecto como un fichero.

[2013-10-19 19:02] josemlp91 commented on #29
Arreglado, ahora la documentación también está en : https://github.com/josemlp91/practica1/blob/master/docuP1.md

[2013-10-19 22:16] STiago opened #30 "Práctica 1"
Repositorio de la práctica (contiene el código y la documentación):
https://github.com/STiago/Practica1

Aplicación funcionando:
http://practica1-stiago.rhcloud.com/

[2013-10-19 22:34] JaviRubio commented on #4
En un sistema que requiera de una respuesta en tiempo real,como puedan ser los sistemas de control una central nuclear o de un aeropuerto, podríamos usar cgroups para limitar los recursos de los servicios no esenciales de tal manera que haya la mayor cantidad posible de recursos disponibles para los servicios criticos.

[2013-10-20 08:40] JJ commented on #29
Muy bueno y potencialmente útil.

[2013-10-20 08:40] #29 closed, assigned to JJ

[2013-10-20 08:45] JJ commented on #30
Correcto, aunque no especialmente útil.

[2013-10-20 08:45] #30 closed, assigned to JJ

[2013-10-20 08:50] JJ commented on #25
Útil, pero con ficheros con información de carácter personal habría que tener cierto cuidado.

[2013-10-20 08:50] #25 closed, assigned to JJ

[2013-10-20 08:55] juandavarju commented on #11
Las aplicaciones SaaS que más utilizo son: Youtube, Twitter, Facebook, Gmail y Duolingo (la cual esta bien para "chapurrear" idomas, os la recomiendo).

[2013-10-20 08:56] #28 closed, assigned to JJ

[2013-10-20 08:56] JaviRubio commented on #11
Los servicios SaaS que mas utilizo son los de google, especialmente gmail y google music. Redes sociales como facebook y twitter,ocasialmente G+. Ademas también he usado durante mucho tiempo el SWAD, y ahora aqui en Alemania estoy usando mucho una plataforma llamada Stine que principalmente me permite gestionar la matriculacion de mis asignaturas y seguirlas,proporcionarme automaticamente mi horar

[2013-10-20 09:03] JJ commented on #11
@juandavarju Salvo Duolingo, que no sé lo que es, y GMail, el resto no son SaaS. Cualquier aplicación que se ejecute en Internet no es un SaaS. @JaviRubio igual. ¿Stine es libre?

[2013-10-20 10:03] JaviRubio commented on #11
@JJ Pues por lo que parece es una solución propietaria que empezaron a desarrollar sobre 2005, aunque la licencia no la he encontrado. Moverse en las paginas en alemán es complicadete xD

Y sobre que el resto no son SaaS, la verdad es que parece un tema que se presta a debate

En el caso de dropbox dicen que es SaaS en multitud de sitios

Por ejemplo aqui: http://www.genbetadev.com/programacion-en

[2013-10-20 10:21] JJ commented on #11
@javirubio según la definición de la wikipedia
http://en.wikipedia.org/wiki/Software_as_a_service SaaS son aplicaciones y
datos en un servidor a los que se accede mediante un "cliente delgado",
generalmente el navegador. Dropbox usa un servicio instalado. Además, el
modelo de pago es por tiempo o uso de recursos; Dropbox se paga por espacio
de almacenamiento. De hecho, en el mismo artículo de la w

[2013-10-20 10:48] JoSeF267 opened #31 "Practica 1"
Código y documentos practica 1:

https://github.com/JoSeF267/Practica1-iv

La aplicación se puede probar en :

http://joomla-josef267.rhcloud.com/

[2013-10-20 10:55] JaviRubio commented on #11
@JJ Estoy deacuerdo en que no todo lo que sale en internet es cierto, pero si mucha gente tiene opiniones diferentes creo que se puede considerar que no hay consenso al respecto o se presta a debate.

En cuanto a considerar solo las aplicaciones de escritorio a la que se accede desde un cliente web yo creo que es ser excesivamente restrictivo, ya que elimina casi todas las aplicaciones existentes,

[2013-10-20 11:04] JJ commented on #11
@javirubio totalmente aclarada, pero habiendo ejemplos que encajan
perfectamente es mejor ceñirse a esos y no tomar ejemplos discutibles, o
por lo menos aclarar según qué definición a la que uno se acoge podrían ser
considerados SaaS, como tú has hecho.
Lo que quiero que quede claro con todo esto es que SaaS no es "cualquier
software que yo ejecute desde el navegador". ¿Un buscador sería un SaaS?

[2013-10-20 11:17] JaviRubio commented on #11
@JJ entonces creo que me voy a tomar la pequeña licencia de añadir algunos ejemplo que conozco pero que no uso habitualmente que si podrían entrar en una definición mas estricta creo yo

-http://pixlr.com/ ->Editor de fotografia online, permite subir imagenes y retocarlas desde el navegador

-https://codeanywhere.net ->Editor de codigo online, con funciones como resaltado de sintaxis y indentación

[2013-10-20 11:18] JJ commented on #11
@javirubio Cualquiera de ellos correspondería a la definición.

[2013-10-20 11:20] rogegg opened #32 "Práctica1"
## Práctica1 de Infraestructura Virtual.

Podemos ver el resultado de nuestra aplicación en:

La documentación se encuentra en:

Código fuente alojado en el repositorio de GitHub:

[2013-10-20 12:05] juandavarju commented on #11
Entonces, después de leer los ultimos post.
http://ajedrez-online.es/ (para jugar al ajedrez) y https://www.filelab.com/audio-editor (que permite editar audio desde el navegador) ¿Encajarían con la definicion?

[2013-10-20 12:50] juandavarju commented on #1
Para varios clientes en un mismo servidor creo que la mejor solución sería la virtualización plena, ya que cada cliente puede usar los recursos del servidor y trabajar con ellos de una forma aislada.

Para un sistema web+middleware+ bd sería mejor la virtualización de aplicaciones, ya que así cada aplicación se podría separar del SO y trabajar con ella de forma aislada.

Para un sistema de prueba

[2013-10-20 13:17] javiercollado opened #33 "Practica 1"
# Practica 1 IV Javier Collado

[2013-10-20 13:27] javiercollado commented on #11
Al igual que mis compañeros, creo que Gmail es lo que más uso habitualmente. También uso muy a menudo [Wunderlist](https://www.wunderlist.com/en/).
Creo que dentro de la definición de SaaS también entraría iWork for iCloud (Al estilo de Google Docs)

[2013-10-20 14:36] franvalverde opened #34 "Practica 1"
Aplicación -> http://periodico-franvalverdep1.rhcloud.com
Repositorio Github -> https://github.com/franvalverde/Practica1
Documentación -> https://github.com/franvalverde/Practica1/blob/master/README.md

[2013-10-20 14:58] SergioMGamarra opened #35 "Practica 1"
Dirección de la práctica: https://github.com/SergioMGamarra/Practica-1---IV

Aplicación: http://periodico-sergiomunioz.rhcloud.com/Portada/portada/portada.php

[2013-10-20 16:04] JJ commented on #34
Tienes que cuidar la licencia de las imágenes y los textos y añadir la cabecera de licencia a todos los ficheros.

[2013-10-20 16:04] #34 closed, assigned to JJ

[2013-10-20 16:04] #33 closed, assigned to nobody

[2013-10-20 16:07] JJ commented on #31
Se trata de que instales _tu propia aplicación_. A la aplicación que instales le tienes que añadir la licencia que hayas decidido.

[2013-10-20 16:09] JJ commented on #35
Las imágenes y textos también tienen licencia; si no sabes cuál es no puedes usarlos.

[2013-10-20 16:09] #35 closed, assigned to JJ

[2013-10-20 16:12] JJ commented on #32
Incluyes ficheros de copia de seguridad entre los del repo,

[2013-10-20 16:12] #32 closed, assigned to JJ

[2013-10-20 16:13] #5 closed, assigned to JJ

[2013-10-20 18:16] melero90 opened #36 "Práctica 1"
- Enlace a la aplicación:

http://practica1iv-melero90.rhcloud.com/
-  Enlace al repositorio:

https://github.com/melero90/practica1

[2013-10-20 18:53] javierGaliana commented on #4
En una empresa con diferentes departamentos, si tenemos una cpu central de alto rendimiento por ejemplo nos vendría bien limitar el uso de la cpu dándole mayor peso a los departamentos que tengan que hacer cálculos más complejos y a los que los usan por ejemplo para hacer consultas así haríamos una mejor distribución de la cpu.
Lo mismo pasaría con las operaciones de entrada/salida( archivos blkio

[2013-10-20 19:17] javierGaliana commented on #11
Para correo utilizo Gmail y hotmail. Para escuchar música grooveshark. Para videojuegos Steam.

[2013-10-20 19:50] JoSeF267 commented on #31
He quitado lo que había hecho y he creado mi propio modulo para joomla con un simple ejemplo pero que tiene mucha funcionalidad para realizar muchas otras cosas.

Código y documentos practica 1:

https://github.com/JoSeF267/Practica1-iv

La aplicación se puede probar en :

http://joomla-josef267.rhcloud.com/

[2013-10-20 20:43] anaprados opened #37 "Práctica 1"
Dirección de la fuente:
[https://github.com/anaprados/Practica1-IV](https://github.com/anaprados/Practica1-IV)

Dirección de la aplicación:
[http://practica1iv-gradoii.rhcloud.com/](http://practica1iv-gradoii.rhcloud.com/)

[2013-10-20 20:45] FdezI opened #38 "Práctica 1"
- **_Fuente**_: https://github.com/FdezI/Practica1
- **_Documentación**_: https://github.com/FdezI/Practica1/wiki/Documentaci%C3%B3n
- **_Aplicación**_: http://periodico-ivprs.rhcloud.com/

[2013-10-20 20:47] eliromeva opened #39 "Práctica 1"
Documentación práctica 1: https://github.com/Elirova/GII-IV-13/wiki/Pr%C3%A1ctica-1

Aplicación: http://periodicoiv-giiiv13.rhcloud.com/

Código de la página web: https://github.com/Elirova/GII-IV-13/tree/master/PeriodicoIV

[2013-10-20 21:08] juandavarju opened #40 "Práctica 1"
Enlace al repositorio:
- https://github.com/juandavarju/Practica1

Enlace a la aplicación:
- http://practica1-juandavarju.rhcloud.com/

[2013-10-20 21:17] JaviRubio opened #41 "Practica 1"
Ubicacion del proyecto:

http://practicaiv1-javirubioapps.rhcloud.com/

Documentacion:

https://github.com/JaviRubio/Practica1IV/blob/master/README.md

Repositorio:

https://github.com/JaviRubio/Practica1IV

[2013-10-20 21:21] jpm88 opened #42 "Práctica 1"
Repositorio de la aplicación:

https://github.com/jpm88/Practica1-IV

Documentación de la aplicación:

https://github.com/jpm88/Practica1-IV/blob/master/README.md

Ubicación del proyecto:

http://practica1-jpm88.rhcloud.com/

[2013-10-21 04:01] javierGaliana opened #43 "Practica 1"
Dirección repositorio y documentación(README.md):
<a> https://github.com/javierGaliana/Practica1 </a>

Dirección de la aplicación:
<a>http://periodico.gopagoda.com/  </a>

[2013-10-21 05:33] JJ commented on #36
Has subido hasta la explicación de prácticas de la otra asignatura. Podías haber seleccionado un poco los ficheros.

[2013-10-21 05:33] #36 closed, assigned to JJ

[2013-10-21 05:34] #31 closed, assigned to JJ

[2013-10-21 05:36] JJ commented on #37
Un poco escasa la documentación, pero correcto.

[2013-10-21 05:36] #37 closed, assigned to JJ

[2013-10-21 05:39] JJ commented on #38
La documentación debe ir en el propio proyecto como un fichero md. Debías haber mirado el periódico y visto que tienes un error en el conjunto de caracteres. No tienes licencia para imágenes y textos del periódico. Y no has rellenado la equivalencia entre nombre y nick, asigno la nota a la mejor suposición.

[2013-10-21 05:39] #38 closed, assigned to JJ

[2013-10-21 05:42] JJ commented on #39
Documentación en fichero md, imágenes sin licencia, no has elegido licencia tampoco para la aplicación, has metido hasta ficheros lock en el repo, no está el SQL.

[2013-10-21 05:42] #39 closed, assigned to JJ

[2013-10-21 05:44] JJ commented on #40
Excluye del repo las copias de seguridad. Simple, pero correcto. No has rellenado la asignación de nick a nombre, asignada nota a mejor suposición.

[2013-10-21 05:44] #40 closed, assigned to JJ

[2013-10-21 05:46] JJ commented on #41
Hay que incluir también la licencia en el fichero PHP.

[2013-10-21 05:46] #41 closed, assigned to JJ

[2013-10-21 05:48] JJ commented on #42
Imágenes y textos sin licencia, no se ha incluido la licencia en los ficheros, se han incluido ficheros que no se usan.

[2013-10-21 05:48] #42 closed, assigned to JJ

[2013-10-21 05:50] JJ commented on #41
Por favor, rellena el documento de asignación de nicks a nombres.

[2013-10-21 05:53] JJ commented on #43
No tienes licencia para imágenes ni textos; ni la has puesto para la aplicación, has incluido ficheros de copia y alguno posiblemente inútil.

[2013-10-21 05:53] #43 closed, assigned to JJ

[2013-10-21 06:05] oskyar opened #44 "Práctica 1"
**Dirección de la practica:**

https://github.com/oskyar/Practica1-PaaS

**Dirección de la documentación:**

https://github.com/oskyar/Practica1-PaaS/blob/master/documentacion/documentacion.md

**Dirección de la aplicación:**

http://adivina-adivinanza.herokuapp.com/

[2013-10-21 07:02] JaviRubio commented on #41
Documento rellenado. Mi nombre no aparecía en la lista así que lo he añadido yo.Supongo que sera porque yo me matricule en un plazo diferente al plazo general. He incluido la licencia en el fichero PHP.

[2013-10-21 07:28] juandavarju commented on #40
Asignado el nick y borrada la copia de seguridad

[2013-10-21 08:32] JJ commented on #44
Elimina las copias de seguridad, pero aparte de eso es correcta.

[2013-10-21 08:32] #44 closed, assigned to JJ

[2013-10-21 08:33] #1 closed, assigned to nobody

[2013-10-21 08:33] #4 closed, assigned to nobody

[2013-10-21 08:33] #11 closed, assigned to nobody

[2013-10-21 08:37] elmendacorp opened #45 "Practica 1"
Tras mucho pelearme con openshift e intentar montar un juego de la vida en python, y que eso no echaba a andar de ninguna manera me he resignado y he echo esta basurilla.

Repo en Github:
https://github.com/elmendacorp/ivkeygen.git

Web de la app:
http://php-elmendacorp.rhcloud.com/

[2013-10-21 08:40] JJ commented on #45
A ver, aparte de las faltas de ortografía y que no has documentado nada, bueno, me vale, pero haberlo intentado con el juego de la vida, hombre...

[2013-10-21 08:40] #45 closed, assigned to JJ

[2013-10-21 09:17] FdezI commented on #38
Siento lo de los textos e imágenes sin licencia, al ser contenido de un periódico público y no tener el proyecto fines lucrativos no creí que hubiera problemas. Tampoco sabía que fuese imperativo poner la documentación en un fichero .md y ví más práctico que estuviera en la wiki del proyecto (A la cual se redirecciona desde el README.md). Con respecto al fichero de equivalencia entre nombre y nick

[2013-10-21 10:52] jmanday opened #46 "Practica1"
Documentación de la práctica:
https://github.com/jmanday/Practica1/blob/master/README.md

Código de la práctica:
https://github.com/jmanday/Practica1

Para probar la aplicación:
http://fathomless-meadow-6284.herokuapp.com/

[2013-10-21 10:55] jmanday opened #47 "Practica1"
Documentación de la práctica:
https://github.com/jmanday/Practica1/blob/master/README.md

Código de la práctica:
https://github.com/jmanday/Practica1

Para probar la aplicación:
http://fathomless-meadow-6284.herokuapp.com/

[2013-10-21 10:55] #47 closed, assigned to nobody

[2013-10-21 11:27] JJ commented on #47
Lo siento, Jesús, la has enviado fuera de plazo.

[2013-10-21 11:28] JJ commented on #46
Enviada fuera de plazo.

[2013-10-21 11:28] #46 closed, assigned to nobody

[2013-10-21 12:02] jmanday commented on #47
Creía que tenía hasta la clase de hoy lunes, es decir, hasta las 13:30, siento el malentendido.

[2013-10-21 12:20] JJ commented on #38
Cualquier cosa publicada tiene todos los derechos reservados; ese derecho incluye el derecho de copia y puesta a disposición, con lo que lo que puedes hacer es ver la imagen, pero _nunca_ copiártela a tu propio servidor. La documentación está bien donde está (además ya ha pasado el plazo de entrega), y en cuanto al fichero de equivalencia lo compartí en la lista de correo (donde igual tampoco está

[2013-10-21 12:32] JJ commented on #47
En realidad hasta la del viernes, como habrás podido ver en los objetivos de la misma, pero lo extendimos hasta _antes_ de la clase de hoy.

[2013-10-21 23:52] elmendacorp opened #48 "LeccionesAprendidasPractica1"
Poniendo mi granito de arena como alumno de la asignatura, y tras ver las impresiones después de la entrega y evaluación de la practica 1. El problema del alumnado a la hora de usar un lenguaje es el conocimiento previo del mismo, y como alumno me remito al plan de estudios que tenemos, siendo lo mas lejano (académicamente) que hemos llegado a empezar a esbozar "hola mundos" en python, salvo algún

[2013-10-22 05:50] JJ commented on #48
Podemos dar el seminario ese si queréis, por hangout o como sea.

[2013-10-22 10:48] jmanday commented on #4
En un entorno de producción donde la red sea un uso fundamental, se le asignará o delimitará mayor o menor ancho de banda en función del empleado, si el trabajo de un empleado necesita más tráfico de datos que otros tendrá mayor ancho de banda este. Otro escenario es en una PaaS, por ejemplo en Heroku cuando te registras puedes crearte hasta 5 aplicaciones gratis, si se quiere crear mas hay que ec

[2013-10-22 10:51] JJ commented on #4
Jesús, eso no corresponde a los servicios de virtualización sino de calidad
de servicio. No tiene nada que ver con la limitación de recursos que hemos
visto en la asignatura.

##

JJ

[2013-10-22 11:46] jmanday commented on #4
Corrijo...en una empresa de desarrollo, la cual esta dividida en departamentos y todos trabajando sobre el mismo servidor, al departamento de diseño gráfico se le asignará mas cpu debido a que su trabajo así lo requiere, mientras que otros departamentos, como el de implementación, tendrán limitada la cpu. Otro ejemplo que veo es el entorno de producción que tenemos en las aulas de prácticas de la

[2013-10-22 11:48] JJ commented on #4
Jesús, tendrás que especificar un poco más. Desde hace más o menos treinta
años, cada departamento de una empresa suele tener sus propios PCs para
ellos solitos. Además, para más Inri, los de diseño tienen Macs, así que
ponte tú a virtualizarlos y además limitarles (o aumentarles) recursos...

El 22 de octubre de 2013 13:46, jesus notifications@github.com escribió:

##

JJ

[2013-10-22 12:00] jmanday commented on #4
Propongo el ejemplo del sistema operativo de un servidor para ver la aplicación que tendría la asignación o limitación de recursos, vamos a distinguir entre dos tipos de peticiones, las que se realizan muy frecuentemente y hay que darles respuesta de inmediato (podemos decir que la respuesta sería en tiempo real), y las que son menos asiduas y la respuesta no es necesario darla en ese mismo instan

[2013-10-22 12:04] JJ commented on #4
Jesús, eso es la definición de lo que hace un sistema de limitación y
gestión de recursos. ¿Un ejemplo real? ¿Qué tipo de peticiones serían las
primeras? ¿Cuáles serían las segundas? Un ejemplo real es una aplicación
con nombres y apellidos (por ejemplo, OpenOffice o MySQL) en un entorno con
nombres y apellidos (tendrá que ser un entorno en el que se use algún tipo
de servicio centralizado, un ser

[2013-10-22 12:23] jmanday commented on #4
Como ejemplo pongo el del servicio de una aplicación bancaria, para las peticiones que sean del tipo de consultar alguna información de ayuda sobre la entidad se le limitarán los recursos tanto de cpu como de memoria (estas serían el segundo tipo de peticiones), pero para las peticiones como pueden ser un pago bancario o transferencia se le asignarían mas recursos de cpu y memoria, para que se eje

[2013-10-22 12:26] JJ commented on #4
De veras, Jesús, vas a pensar que te tengo manía. ¿Has leído el material de
la asignatura? ¿Cuál de las (o de la) aplicaciones de virtualización
mencionadas crees que van a ser capaces de distinguir entre uno y otro tipo
de peticiones? ¿Tú crees que mediante virtualización se puede comprobar si
se ha hecho una petición de más dinero del del saldo?
Si el tema bancario te interesa, estoy seguro que

[2013-10-22 12:51] jmanday commented on #4
Me he vuelto a repasar el material de la asignatura y expongo otra situación, supongamos un entorno de producción donde se está desarrollando un proyecto, en ese entorno limitaremos de recursos a aplicaciones secundarias (que no son necesarias para la implementación de nuestro proyecto)  como puede ser el reproductor de música y le asignaremos mayor beneficio de recursos a aquellas aplicaciones qu

[2013-10-22 15:09] JJ commented on #4
¿En un entorno de producción tienes un reproductor de música?

El 22 de octubre de 2013 14:51, jesus notifications@github.com escribió:

##

JJ

[2013-10-22 17:21] jmanday commented on #4
Cambiemos el ejemplo por un navegador.

[2013-10-23 13:52] jmanday commented on #11
Las SaaS que suelo usar son Gmail y Google Docs.

[2013-10-27 19:07] JJ commented on #48
Organizado el seminario. El resto, plantéalo en clase o en la lista e iremos tratando de solucionarlo.

[2013-10-27 19:07] #48 closed, assigned to JJ

[2013-11-03 16:08] josecolella opened #49 "sample issue"

[2013-11-03 16:12] #49 closed, assigned to nobody

[2013-11-04 21:34] josecolella opened #50 "Práctica 2"
Profesor,

La documentación de la práctica 2 y las fuentes de código están en la siguiente dirección:
https://github.com/josecolella/Practica2IV

He creado dos aplicaciones, una que se crea, edita, y visualiza issues de este repositorio, y otro que usa las API de Github para cambiar la ubicación de un usuario a "Granada". Este segundo lo he cambiado para que tenga interfaz web con un simple formul

[2013-11-07 10:30] PSanchezR opened #51 "Duda sobre la clase del 8/11/2013"
Hola Juan Julián tengo marcado en mi agenda que mañana no hay clase, me gustaría que me confirmaras.

Muchas gracias por su atención y un saludo.

[2013-11-07 10:32] JJ commented on #51
Sí hay clase, en el aula de prácticas esta vez.

[2013-11-07 18:33] PSanchezR opened #52 "Entrega práctica 2"
Hola Juan Julián, en este issue le adjunto la url de mi segunda práctica de este curso:

https://github.com/PSanchezR/practica2/wiki/README

https://github.com/PSanchezR/practica2/wiki/index.php

Gracias por su atención y un saludo.

[2013-11-07 19:18] oskyar opened #53 "Jailkit + jdk + maven2"
Muy buenas, estoy intentando instalar en Jailkit maven2 + jdk para que funcione mi práctica realizada en la práctica1. Pero... me da muchos errores de librerías en jailkit diciéndome que no pueden usar librerías compartidas, etc, etc...

¿Qué puedo hacer entonces? ¿Sigo intentándolo? ó ¿intento hacerlo con un sistema mínimo + chroot ?

Un saludo.

[2013-11-07 19:22] JJ commented on #53
¿Por qué no lo intentas simplemente usando chroot a la jaula e instalando cosas? No hace falta que lo instales todo con jailkit, úsalo sólo para el sistema mínimo. jailkit lo único que hace es ayudar a ciertas tareas administrativas de jaulas chroot.

[2013-11-07 19:22] #51 closed, assigned to JJ

[2013-11-07 20:42] oskyar commented on #53
Aaah vale... porque como siempre... ya me estaba complicando la vida, jaja. Si es solo con un sistema minimal, con debootstrap y poco más estará funcionando la jaula.

A ver si lo soluciono esta noche.

[2013-11-08 09:20] josecolella opened #54 "ejemplo"
issue creado con script

[2013-11-08 09:23] #54 closed, assigned to JJ

[2013-11-08 09:34] PSanchezR commented on #52
He incluido los cambios para que Schroot no de error, y también he añadido un apartado en README.md con todos los problemas que he tenido a la hora de realizar la práctica

[2013-11-08 10:07] JoSeF267 opened #55 "Practica 2"
En estas dirección se encuentra mi practica 2:

https://github.com/JoSeF267/Practica2-iv/blob/master/README.md

[2013-11-08 17:39] oskyar commented on #52
Tienes mal el enlace para ir a tu práctica.

[2013-11-08 17:41] JJ commented on #52
+1 para el Óscar, así me gusta, que miréis las prácticas de otros.

[2013-11-08 18:15] torresj opened #56 "Practica 2"
Practica: https://github.com/torresj/practica-2

Documentacion: https://github.com/torresj/practica-2/blob/master/Documentacion/documentacion.md

[2013-11-08 19:30] JaviRubio opened #57 "Practica 2"
Mi practica 2:

Documentacion: https://github.com/JaviRubio/Practica2IV/blob/master/README.md

Repositorio: https://github.com/JaviRubio/Practica2IV

[2013-11-09 00:55] oskyar opened #58 "Práctica 2"
[Ir a la Documentación](https://github.com/oskyar/Practica2-Jaula-CHROOT/blob/master/documentacion/documentacion.md)

[Ir al Repositorio](https://github.com/oskyar/Practica2-Jaula-CHROOT)

La aplicación usada es la misma. **"Adivina Adivinanza"**.
No he hecho cambios en la aplicación debido a que el configurar el entorno del JDK + maven me parecía interesante y para familiarizarme con las configur

[2013-11-09 09:48] PSanchezR commented on #52
Muchas gracias Óscar, ya lo he actualizado para que valla directamente al README

[2013-11-09 10:18] JJ commented on #52
¡Vaya!

El 9 de noviembre de 2013 10:48, PSanchezR notifications@github.comescribió:

##

JJ

[2013-11-09 12:13] antonioguirola opened #59 "Entrega práctica 2"
Código de la práctica 2 de IV:

https://github.com/antonioguirola/practica2IV

[2013-11-09 12:50] franvalverde opened #60 "Práctica 2"
Entrega de la practica 2: https://github.com/franvalverde/Practica2

[2013-11-09 13:00] rafaelgonz opened #61 "Práctica 2"
Mi práctica 2, es una calculadora en php, que he alojado en una jaula ubuntu, con el servidor Apache.

Se encuentra en:

https://github.com/rafaelgonz/Practicas/tree/master/Practica2

Siendo su documentación:

https://github.com/rafaelgonz/Practicas/blob/master/Practica2/README.md

[2013-11-09 13:27] melero90 opened #62 "Práctica 2"
Enlace al repositorio:

https://github.com/melero90/Practica2

Enlace a la documentación:

https://github.com/melero90/Practica2/blob/master/DOCUMENTACION.md

[2013-11-09 15:06] PSanchezR commented on #52
Hay algún problema JJ?

[2013-11-09 17:17] oskyar commented on #52
Es porque has escrito vaya con dos eles.
El 09/11/2013 16:06, "PSanchezR" notifications@github.com escribió:

[2013-11-09 17:56] PSanchezR commented on #52
Cierto, grave error mio.

[2013-11-09 18:22] jmanday opened #63 "Práctica 2"
Enlace al repositorio de la práctica:

https://github.com/jmanday/Practica2

Enlace a la documentación de la práctica:

https://github.com/jmanday/Practica2/blob/master/README.md

[2013-11-09 18:30] jmanday opened #64 "Práctica 2"
Cambio en los enlaces.

Enlace al repositorio de la práctica:

https://github.com/jmanday/Practica2

Enlace a la documentación de la práctica:

https://github.com/jmanday/Practica2/blob/master/DOCUMENTACION.md

[2013-11-09 19:27] rogegg opened #65 "Práctica 2"
Documentación:

Repositorio de GitHub:

[2013-11-09 20:50] fllodrab opened #66 "Práctica 2"
Documentación de la práctica:

https://github.com/fllodrab/Practica2/blob/master/README.md

Repositorio de la práctica:

https://github.com/fllodrab/Practica2/tree/master

[2013-11-09 21:52] pedroag opened #67 "Práctica 2"
Este es el enlace a la documentación de mi práctica 2.

https://github.com/pedroag/Practica2IV/blob/master/README.md

Un saludo.

[2013-11-10 09:53] JJ commented on #63
Has abierto dos issues y en ninguno de ellos has asignado una etiqueta. Por favor, corrígelo.

[2013-11-10 09:53] #63 closed, assigned to nobody

[2013-11-10 09:53] JJ commented on #53
Si está solucionado, ¿cerramos?

[2013-11-10 10:18] #53 closed, assigned to JJ

[2013-11-10 11:19] franciscomanuel opened #68 "Practica 2"
La documentación de mi práctica se encuentra en:

https://github.com/franciscomanuel/Practica2/blob/master/README.md

El repositorio de mi práctica está en:

https://github.com/franciscomanuel/practica2

[2013-11-10 11:47] jmanday commented on #64
Ya le asignado etiqueta. Gracias por el aviso JJ.

[2013-11-10 11:51] rafacruiz opened #69 "Práctica 2"
Práctica 2

Documentación:

 https://github.com/rafacruiz/Practica2/blob/master/README.md

Repositorio:

 https://github.com/rafacruiz/Practica2

[2013-11-10 11:52] jmanday commented on #64
Asignado.

[2013-11-10 12:33] jmanday commented on #64
Hito asignado.

[2013-11-10 14:20] anaprados opened #70 "Práctica 2"
###### [Repositorio](https://github.com/anaprados/Practica2-IV)
###### [Documentación](https://github.com/anaprados/Practica2-IV/blob/master/documentacion.md)

[2013-11-10 14:44] elmendacorp opened #71 "Práctica 2"
repo: https://github.com/elmendacorp/practica2IV
Memoria: https://github.com/elmendacorp/practica2IV/wiki/docu

[2013-11-10 17:07] javiercollado opened #72 "Práctica 2"
Aquí está el repositorio creado para la práctica 2:
[Repositorio](https://github.com/javiercollado/practica2JCL)
Aquí esta la documentación:
[Documentación](https://github.com/javiercollado/practica2JCL/blob/master/practica2.md)

[2013-11-10 17:23] josemlp91 opened #73 "Practica 2"
La documentacion:
https://github.com/josemlp91/practica2/blob/master/memoriaP2.md

El proyecto:
https://github.com/josemlp91/practica2

[2013-11-10 18:45] jpm88 opened #74 "Práctica 2"
Documentación de la práctica:

https://github.com/jpm88/Practica2-IV/blob/master/README.md

Repositorio de la práctica:

https://github.com/jpm88/Practica2-IV

[2013-11-10 20:29] R-R-R-R-1 opened #75 "Práctica 2"
Este es el resultado de mi práctica.

https://github.com/RaulSFuentes/RaulSanchez-Practica2-IV-2013-

[2013-11-10 20:33] R-R-R-R-1 commented on #75
Perdón por cerrarla JJ, ha sido un error, pues quería añadirle el Labels question y lo he cerrado.

[2013-11-10 20:40] eliromeva opened #76 "Práctica 2"
Aquí está el repositorio donde está la memoria de mi práctica 2:

https://github.com/Elirova/IV-Pr2

[2013-11-10 20:41] FdezI opened #77 "Práctica 2"
Documentación:
- **_Fuente:**_ https://github.com/FdezI/Practica2
- **_Documentación:**_ https://github.com/FdezI/Practica2/blob/master/README.md

[2013-11-10 20:46] juandavarju opened #78 "Práctica 2"
Enlace al repositorio: https://github.com/juandavarju/PracticaIV2

Enlace a la documentacion: https://github.com/juandavarju/PracticaIV2/blob/master/README.md

[2013-11-10 22:57] jcastilloprez opened #79 "Práctica 2"
Enlace al repositorio:
https://github.com/jcastilloprez/Practica2

Enlace a la documentación:
https://github.com/jcastilloprez/Practica2/blob/master/README.md

[2013-11-10 23:39] STiago opened #80 "Práctica 2"
Enlace a la documentación de la práctica:
https://github.com/STiago/Practica2/blob/master/README.md

Enlace al repositorio de la práctica:
https://github.com/STiago/Practica2

[2013-11-11 03:07] Jmf91 opened #81 "Práctica 2"
Enlace a la documentación de la práctica:
https://github.com/Jmf91/Practica2/blob/master/Documentacion.md

Enlace al repositorio de la práctica:
https://github.com/Jmf91/Practica2

[2013-11-11 03:29] germaaan opened #82 "Práctica 2"
Dirección del fuente de la práctica:
https://github.com/germaaan/PRACTICA_02

Enlace a la documentación de la práctica:
https://github.com/germaaan/PRACTICA_02/blob/master/README.md

[2013-11-11 04:15] oskyar commented on #58
He modificado la práctica, añado la aplicación en Heroku para que se noten los cambios.

[Generador de porcentaje de objetivos completados](http://estadisticasobjetivos-iv.herokuapp.com/)

[2013-11-11 04:55] SergioMGamarra opened #83 "Práctica 2"
Enlace a la documentación: https://github.com/SergioMGamarra/Practica2IV/blob/master/README.md

Enlace al repositorio:
https://github.com/SergioMGamarra/Practica2IV

[2013-11-11 05:00] SergioMGamarra opened #84 "Práctica 2"
Enlace al repositorio:
https://github.com/SergioMGamarra/Practica2IV
Enlace a la documentación: https://github.com/SergioMGamarra/Practica2IV/blob/master/README.md

[2013-11-11 06:26] JJ commented on #83
Si este está repetido (o el otro), ciérralo.

2013/11/11 Sergio Muñoz Gamarra notifications@github.com

##

JJ

[2013-11-11 09:13] JJ commented on #50
usermode o usermod?
Puedes entrar al usuario directamente con su -
He perdido el paso el que le asignas IP a la jaula.

[2013-11-11 09:14] JJ commented on #52
Poned también la etiqueta Question

[2013-11-11 09:16] JJ commented on #52
Bien por los comentarios sobre los problemas encontrados.

[2013-11-11 09:16] #52 closed, assigned to JJ

[2013-11-11 09:22] JJ commented on #55
No has dejado claro ni cual es la IP ni en la captura se ve que estés accediendo a la jaula. De hecho, la web en la jaula se puede ejecutar en otro puerto o en el 80 si no se está ejecutando en el anfitrión.

[2013-11-11 09:26] #56 closed, assigned to JJ

[2013-11-11 09:27] JJ commented on #57
No has mostrado la aplicación funcionando.

[2013-11-11 09:27] #57 closed, assigned to JJ

[2013-11-11 09:29] JJ commented on #58
Anda que ya te vale... el enlace en el comentario está mal...

[2013-11-11 09:30] JJ commented on #58
¿Información lleva tilde invertida en la I? :-)

[2013-11-11 09:33] JJ commented on #58
El ssh es necesario si te conectas desde fuera de la máquina, pero desde dentro basta con hacer su - user_limit

[2013-11-11 09:33] #58 closed, assigned to JJ

[2013-11-11 09:36] JJ commented on #59
La falta de tiempo para cambiar las imágenes no es una buena excusa..

[2013-11-11 09:36] #59 closed, assigned to JJ

[2013-11-11 09:46] JJ commented on #60
Meter una jaula dentro de una carpeta "Documentos" tiene cierto peligro

[2013-11-11 09:46] #60 closed, assigned to JJ

[2013-11-11 09:47] JJ commented on #61
¿La plantilla es gratuita o libre? Hay una diferencia
Algunos compañeros usan git para meter la aplicación en la jaula. Es mucho mejor y más práctico (y real) que hacerlo con cp.

[2013-11-11 09:47] #61 closed, assigned to JJ

[2013-11-11 10:49] josecolella commented on #50
He aclarado la información sobre donde se generado el IP.
https://github.com/josecolella/Practica2IV/blob/master/README.md

[2013-11-11 11:05] oskyar commented on #58
Arreglado el enlace a la aplicación en Heroku. Me faltaba poner el http://

[2013-11-11 11:12] JoSeF267 commented on #55
Modificada y arreglada

[2013-11-11 11:34] rafaelgonz commented on #61
La plantilla es libre, lo acabo de actualizar en la documentación.

[2013-11-11 11:49] #84 closed, assigned to JJ

[2013-11-11 11:50] SergioMGamarra commented on #83
Si, arreglado.

[2013-11-11 12:11] oskyar opened #85 "Mejoras script objetivos. @josemlp91 y @anaprados"
Se podría hacer que en el parámetro del número de los objetivos que quieres descargar, si pones una "a" (all) te descargue todos los objetivos a la vez junto con la cabecera (Lo de la cabecera es opcional xD).
O intentar que coja varios números en plan array.

Para esto último para no complicarse tanto la vida se podría dejar el parámetro de los objetivos de la sesión para el último, entonces si e

[2013-11-11 12:16] oskyar commented on #85
Ó más fácil, si no existe el parámetro 4 pues que añada todos en vez de poner una "a"

[2013-11-11 13:00] JJ commented on #85
¿No sería mejor otro script? Este es 1o, de un solo objetivo. Casi mejor
hacer otro ao, all-objetivos, ¿no?

[2013-11-11 16:36] JJ commented on #62
Debian no es una versión de Ubuntu...
Y Bernabeu no lleva acento.

[2013-11-11 16:36] #62 closed, assigned to JJ

[2013-11-11 16:38] JJ commented on #64
Podrías haber usado schroot o jailkit para la jaula, pero está correcto.

[2013-11-11 16:38] #64 closed, assigned to JJ

[2013-11-11 16:40] JJ commented on #65
debootstrap lleva una t, como boot
podéis acceder a los usuarios con su - , no hace falta ssh; no es una máquina virtual, sino una jaula

l

[2013-11-11 16:40] #65 closed, assigned to JJ

[2013-11-11 16:42] #66 closed, assigned to JJ

[2013-11-11 16:43] #67 closed, assigned to JJ

[2013-11-11 16:44] JJ commented on #68
El restart de apache sólo funciona si lo haces desde /

[2013-11-11 16:44] #68 closed, assigned to JJ

[2013-11-11 16:46] JJ commented on #69
Te has quedado en "usando"
Hubiera sido mejor que usárais git también para el contenido de la práctica... sirve para eso.

[2013-11-11 16:46] #69 closed, assigned to JJ

[2013-11-11 16:47] JJ commented on #70
Si tienes el mysql en el anfitrión, el de la jaula no puede usar el mismo puerto.

[2013-11-11 16:47] #70 closed, assigned to JJ

[2013-11-11 16:49] JJ commented on #71
Será todo lo trivial que quieras, ¡pero yo tengo que comprobar que has hecho la práctica!

[2013-11-11 16:51] elmendacorp commented on #71
No se, con pedir unas capturas, las tengo hechas...

[2013-11-11 16:51] JJ commented on #72
No muestras que el resultado funciona con una captura o similar.

[2013-11-11 16:51] #72 closed, assigned to JJ

[2013-11-11 16:53] #73 closed, assigned to JJ

[2013-11-11 16:55] JJ commented on #74
Las imágenes no están incrustadas y el enlace está mal. Debías haber comprobado que se veía correctamente en la web.

[2013-11-11 16:57] #75 closed, assigned to JJ

[2013-11-11 16:58] #76 closed, assigned to JJ

[2013-11-11 17:00] JJ commented on #77
Bien por comentar errores y soluciones.

[2013-11-11 17:00] #77 closed, assigned to JJ

[2013-11-11 17:01] JJ commented on #78
Ni has enjaulado al usuario de apache en ningún sitio ni ná de ná...

[2013-11-11 17:01] #78 closed, assigned to JJ

[2013-11-11 17:03] JJ commented on #79
Creo que voy a echarme pomada en los ojos. Y usa git para instalar la aplicación también, hombre...

[2013-11-11 17:03] #79 closed, assigned to JJ

[2013-11-11 17:04] #80 closed, assigned to JJ

[2013-11-11 17:06] JJ commented on #81
No has incluido la licencia de la aplicación, ni creado usuario específico "enjaulado".

[2013-11-11 17:06] #81 closed, assigned to nobody

[2013-11-11 17:07] JJ commented on #82
Buena cantidad de literatura.

[2013-11-11 17:07] #82 closed, assigned to JJ

[2013-11-11 17:09] #83 closed, assigned to JJ

[2013-11-11 17:13] rafacruiz commented on #69
Corregido.

[2013-11-11 17:13] JJ commented on #71
En la práctica es donde tienes que enviarlas, precisamente...

[2013-11-11 17:37] JJ commented on #55
Subida la nota.

[2013-11-11 17:37] #55 closed, assigned to JJ

[2013-11-11 17:40] javiercollado commented on #72
Las capturas de la sección "aplicación desarrollada" son de la aplicación funcionando con la jaula (ejemplo aplicación). Por eso no volví a ponerlas abajo, para no repetirlo. Quizás me falto explicar que era eso.

[2013-11-11 17:43] elmendacorp commented on #71
Añadidas las capturas a la documentación, supuse que con poner el código suficiente. sorry

[2013-11-11 17:45] JJ commented on #72
Pero tienes que mostrar en la barra de URLs, al menos, que es el efectivamente la aplicación funcionando en la jaula. De todas formas el punto menos es por una combinación de cosas, no sólo por eso.

[2013-11-11 17:47] JJ commented on #71
Por favor, lee el guión de la práctica.

[2013-11-11 17:51] javiercollado commented on #72
De acuerdo. De todas maneras he modificado documento con la captura.

[2013-11-11 19:37] JJ commented on #50
subida nota.

[2013-11-11 19:37] #50 closed, assigned to JJ

[2013-11-11 23:26] jpm88 commented on #74
Si el problema es que yo si las podía ver desde mi navegador y creía que estaba todo bien pero le he preguntado a un compañero y no las podía ver tampoco, de ahí el problema.

Ya deberían estar arreglados los enlaces, pues he subido las imágenes directamente al repositorio, espero que el 4 de la nota fuera solo por eso....

[2013-11-12 00:16] oskyar commented on #85
Mmmm... ¿para qué más script? ¿pudiendo añadirle un parámetro más?
Ya que si se hace mejora en uno, habrá que hacérselas al otro, ¿no?

[2013-11-12 06:25] JJ commented on #85
Habría que cambiar los parámetros de sitio (poner el número de objetivo el
último) y no me hace mucha gracia cambiar el API, pero bueno, si hay que
hacerlo mejor ahora que más adelante...

JJ

[2013-11-12 07:20] JJ commented on #74
¿Te parece poco?

[2013-11-12 07:20] #74 closed, assigned to JJ

[2013-11-15 09:39] antonioguirola opened #86 "Problema al instalar máquina Fedora lxc en Linux Mint 15"
No he podido instalar un contenedor fedora en mi linux mint 15, la orden usada es `sudo lxc-create -t fedora -n cajaFedora -- -R 13`. Me aparece el siguiente mensaje de error (lo siento es largo):

[code]

He estado buscando por la web pero no he encontrado nada

[2013-11-15 09:49] JoSeF267 opened #87 "Error con fedora"
![error-fedora](https://f.cloud.github.com/assets/487138/1549030/2a1fe982-4ddb-11e3-962f-32f444f74f0a.png)

[2013-11-15 12:24] rafaelgonz commented on #87
en lugar de fedora, he instalado centos, y con este tutorial va de maravilla:

http://www.bonusbits.com/main/HowTo:Setup_CentOS_LXC_Container_on_Ubuntu

[2013-11-15 22:53] oskyar commented on #87
:+1: Pues voy a seguir tu consejo e instalaré centos en vez de fedora, ya he perdido demasiado tiempo hoy.

[2013-11-16 08:22] JJ commented on #87
Creo que adaptaré los apuntes si a todo el mundo le funciona mal Fedora.

JJ

[2013-11-16 08:28] oskyar commented on #87
+1. Pero me he dado cuenta que con el script de centos me da también problemas como con Fedora. Yo creo que se debe a tener como host Ubuntu 13.10. Tiene que haber algún tipo de incompatibilidad con el lxc

[2013-11-16 08:33] JJ commented on #87
Tened en cuenta que tienen que usar el mismo kernel, igual que pasa con las
jaulas. Si el kernel es demasiado moderno para que lo use Fedora, no va a
funcionar.

[2013-11-16 08:35] oskyar commented on #87
Cómo sabemos el kernel que tiene que utilizar fedora? Para intentar
descargarmelo y probarlo.
El 16/11/2013 09:33, "Juan Julián Merelo Guervós" notifications@github.com
escribió:

[2013-11-16 08:50] JJ commented on #87
Evidentemente, otro :-)

El problema es que las Fedora "modernas" no funcionan, y el kernel de las
13.xx es demasiado moderno para las que sí funcionan, creo. A partir del
3.6 hubo muchos cambios.

[2013-11-16 09:04] josecolella commented on #87
Profesor, no se si ese es el problema, porque me ha funcionado a mi. Aunque tengo Ubuntu 12.04, el kernel que tengo es 3.8

[2013-11-16 10:59] oskyar opened #88 "Problema con Juju en 13.10 Ubuntu @jj"
Pongo tu usuario en el titulo porque con la aplicación de github en Android no me sale tu usuario.

Tengo problemas con juju-core desde los repositorios que pusiste. Me metí en la página de juju (luego la pongo desde el portátil) y me descargué la versión para el Ubuntu saucy pero al parecer esa versión no tiene las opciones que indicas en los apuntes de clase. No existe la opción -w y para crear

[2013-11-17 00:58] oskyar commented on #87
He intentado instalar el kernel 3.0.8-31-generic en Ubuntu 13.10 pero no me carga las interfaces de red (en concreto WLAN, que es indispensable).

Así que he pasado a instalar [Gentoo](https://raw.github.com/globalcitizen/lxc-gentoo/master/lxc-gentoo) que ya lo he probado y me funciona perfectamente, es un template para lxc pero tiene el inconveniente que no se crea con lxc-create, se crea directa

[2013-11-17 08:34] JJ commented on #87
Muchas gracias, Óscar.

[2013-11-17 17:49] JJ commented on #71
Simplemente recordarte que hoy acaba el segundo plazo de entrega de esta práctica.

[2013-11-17 18:11] JJ commented on #86
Aparentemente todo el mundo tiene ese problema que es de la plantilla para Fedora https://bugzilla.redhat.com/show_bug.cgi?id=1025785
Aquí parece que sugieren un parche https://bugs.launchpad.net/ubuntu/+source/urlgrabber/+bug/1200288
Ahora mismo estoy intentando usarlo en Ubuntu 12.04 y parece que no hay ningún problema, está descargando un mongón de cosas de la versión Fedora 14.

[2013-11-17 18:17] JJ commented on #87
El problema es con las versiones de ubuntu mayores que la 12.04; a mi acaba de instalarme una Fedora 14 en la 12.04 sin problemas.

[2013-11-17 18:44] #86 closed, assigned to JJ

[2013-11-17 18:45] JJ commented on #87
Cuando sean errores en los apuntes, por favor ponedlos en http://github.com/JJ/IV para que pueda cerrarlos con el commit.

[2013-11-17 18:45] #87 closed, assigned to JJ

[2013-11-17 18:50] JJ commented on #88
Tienes toda la razón, en mi instalación tiene el mismo problema. Voy a cambiar los apuntes.

[2013-11-17 18:54] JJ commented on #88
Aquí comentan el bug en la documentación; de hecho parece que era por la versión que yo tenía instalada, porque en la aclaración sí estaba bien https://bugs.launchpad.net/ubuntu/+source/urlgrabber/+bug/1200288

[2013-11-17 18:55] JJ commented on #88
¿Has seguido el resto de las instrucciones, configurar el provider e instalar MongoDB?

[2013-11-17 19:19] oskyar commented on #87
De nada, para eso estamos.

[2013-11-17 19:50] oskyar commented on #88
Instale mongodb pero al parecer no me di cuenta de que falló la
instalación. Lo he vuelto a instalar y ya si arranca. Pero de todos modos
me siguen sin salir las ips para ver la página de mediawiki.
El 17/11/2013 19:55, "Juan Julián Merelo Guervós" notifications@github.com
escribió:

[2013-11-17 19:59] JJ commented on #88
¿Qué te dice `juju status`?

[2013-11-18 09:02] oskyar commented on #88
A ver... tengo mis dudas.
1. Nosotros instalamos juju y después cambiamos en el archivo de configuración `default: amazon`  por `default: local`
2. Ahora ejecutamos `juju switch amazon`
3. Pero en este caso al hacer `juju bootstrap` me sale lo siguiente:

Y si lo hago con `juju switch local`, sí se crea bien el entorno y me deja desplegar lo demás:

NOTA: Si añadimos la relación así, `juju add-rel

[2013-11-18 09:07] JJ commented on #88
Hay algún problema porque el status pone pending...

El lunes, 18 de noviembre de 2013, Óscar Zafra notifications@github.com
escribió:

##

JJ

[2013-11-18 09:43] torresj commented on #88
a mi me pasaba lo mismo que a ti oscar, pero al reiniciar ya me sale:

jaime@jaime-VGN-FZ21E:~$ juju status
environment: local
machines:
  "0":
    agent-state: started
    agent-version: 1.16.3.1
    dns-name: 10.0.3.1
    instance-id: localhost
    series: saucy
  "1":
    agent-state-info: '(error: container "jaime-local-machine-1" is already created)'
    instance-id: pending
    series: preci

[2013-11-18 09:44] oskyar commented on #88
Pues entonces no sé que hacer ya... (expongo de nuevo los pasos).
Dejo todo desde 0:
sudo juju destroy-environment

Comienzo todo:

[code]

Y en verdad... ya no sé qué más hacer... ¿Alguna sugerencia?

[2013-11-18 09:47] torresj commented on #88
Yo lo que no consigo es que me funcione es sudo juju expose mediawiki.
Me pone siempre "exposed:false" como puede verse en mi anterior comentario

[2013-11-18 11:20] JJ commented on #88
¿Por qué pones mediawiki:slave y no mediawiki:db?

[2013-11-18 11:23] JJ commented on #88
En este documento dice que hagas lo que hiciste al principio
https://juju.ubuntu.com/docs/charms-relations.html

juju add-relation mediawiki:db mysql

[2013-11-18 11:25] JJ commented on #88
Efectivamente, figura mediawiki como slave pero tendría que figurar como conectado a la bd.

[2013-11-18 11:26] JJ commented on #88
En el repo del _charm_ correspondiente viene alguna explicación más sobre como usarlo https://github.com/charms/mediawiki

[2013-11-20 10:04] oskyar commented on #88
Pues lo he vuelto a intentar y sigue sin funcionar. El viernes lo vemos mejor en clase que ya le he echado demasiadas horas a este ejercicio...

[2013-11-20 10:19] JJ commented on #88
OK

[2013-11-20 14:16] JJ commented on #88
Pero ¿has probado lo que te he dicho?

[code]

Eso en vez de la orden `add-relation` que has puesto.

[2013-11-20 14:17] oskyar commented on #88
Si, he probado to toíco to y no hay manera. He desactivado el firewall , de
todo...
El 20/11/2013 15:16, "Juan Julián Merelo Guervós" notifications@github.com
escribió:

[2013-11-20 14:20] JJ commented on #88
¿Y no puede ser un problema con la máquina virtual que hayas instalado?
¿has probado con otra?

##

JJ

[2013-11-20 14:21] JJ commented on #88
¿Qué versión de kernel es?

[2013-11-20 14:40] JJ commented on #88
Me está dando el mismo problema. A ver si lo puedo solucionar.

JJ

[2013-11-20 14:42] JJ commented on #88
Me parece que es porque el contenedor no está funcionando. ¿Has probado a
conectarte al contenedor creado y a ver su estado?

[2013-11-20 16:58] oskyar commented on #88
es decir, ¿que me meta dentro de un contenedor y haga un juju status ? ¿No se supone que juju se instala en el host? Voy a probar a ver...

[2013-11-20 17:06] oskyar commented on #88
Al hacer juju bootstrap se supone que crea una máquina en mi caso 'oskyar-local-machine-1' pero... no me la crea en lxc porque dice que ya existe... voy a borrarla manualmente a ver si así me la crea desde 0.

[2013-11-21 09:17] JJ commented on #88
Bórrala con lxc destroy

De todas formas, me da la impresión de que es un poco buggy...

[2013-11-21 11:10] oskyar commented on #88
Si... borro el entorno `sudo juju destroy-environment`
Y también lo borro mediante `sudo lxc-destroy contenedor`

Pero hay archivos que los deja almacenados, tales como las configuraciones de cgroups y logs.

¿Qué es buggy?

[2013-11-21 11:18] JJ commented on #88
Con errores.

##

JJ

[2013-11-21 11:20] oskyar commented on #88
Ah vale, conozco el término `bug` pero buggy no xD. Pues... lo miramos mañana en clase mejor?

Un saludo.

[2013-11-21 11:27] JJ commented on #88
OK.

JJ

[2013-11-21 18:00] JJ commented on #88
También puedes probar a ver si es cosa de Wikimedia o de cualquier otra instalación...

[2013-11-21 18:21] oskyar commented on #88
Que va, habré instalado 20 veces los contenedores, intenté instalar
WordPress y tampoco... He llegado a ocupar 10 gigas entre instalaciones,
contenedores y demás.
El 21/11/2013 19:00, "Juan Julián Merelo Guervós" notifications@github.com
escribió:

[2013-11-21 19:53] JJ commented on #88
Una prueba más: http://askubuntu.com/questions/134977/juju-stuck-in-pending-state-when-using-lxc

Lo que ocupa un mogollón es MongoDb, que se pilla para él solito un mongón de gigas :-)

[2013-11-27 18:24] franvalverde opened #89 "Problema con lxc web panel"
He tenido que realizar la instalación de LXC web panel manualmente ya que de la otra forma me fallaba. Basicamente lo que he hecho es clonar un repositorio y lanzar un .py para que se ejecute el web panel.

El problema es el siguiente; cuando me conecto no me detecta ningun contenedor y tengo varios creados a los cuales puedo acceder desde consola con total normalidad.

Otro detalle es que cuando

[2013-11-27 21:55] torresj commented on #88
Mi portatil tuvo un problema grave y he tenido que formatearlo, al instalar otra vez ubuntu y descargar juju me pasa lo mismo que a oscar. Como no me funciona no puedo poner capturas de pantalla en los ejercicios aunque antes de formatear si que me funcionaba juju (como pudiste ver en clase) y pude probar todos los comandos de los ejercicios con exito. No se muy bien por qué pero ahora no hay mane

[2013-11-30 12:11] oskyar commented on #89
¿Qué errores te da cuando lo vas a instalar? ¿no puedes ejecutar el comando que lo instala automáticamente?

[code]

Al parecer cuando se crea un contenedor o más bien cuando se instala lxc-webpanel, lee unos archivos de configuración en una carpeta determinada que es donde está la información de los contenedores. Si no se crea la información o no está configurado LWP para leer buscar en esa carpe

[2013-11-30 12:12] oskyar commented on #89
Una última cosa, recuerda que para ejecutar ese comando tienes que ser root (sudo su).

[2013-11-30 18:25] JJ commented on #88
Da algún detalle máa aunque estoy por dejar juju como caso perdido. Intenta también poner un issue en el propio juju a ver si allí te pueden ayudar.

[2013-11-30 20:17] torresj commented on #88
Me pasa como a oscar, las maquinas salen en pending siempre... Yo lo he dado por perdido ya porque no he conseguido que funcione

[2013-11-30 20:25] oskyar commented on #88
Pues yo hoy he tenido mi día esplendido jajaja.
A mi me ha funcionado todo. (Claro está que después de tener que formatear
dos veces).
Ahora después termino de añadir los enlaces a mis archivos.

Eso si Jaime, he sido paciente y he dejado un rato los servicios y han
pasado de pending a started.

La instalación de juju ha sido mediante los repositorios de la guía de @jj
y la instalación de lo demás

[2013-11-30 20:31] oskyar commented on #88
Coge el script de mi repositorio llamado scriptJuju.sh y ponle como
parametro crear.

[code]

Si te da errores borra todo con

[code]

(el script es solo cuando has instalado el entorno con los servicios
mediawiki y MySQL, añades la relación y expones mediawiki)

Pero no pierdes nada probándolo xD.

Un saludoo
El 30/11/2013 21:25, "Óscar Zafra" oskyar@gmail.com escribió:

[2013-11-30 20:47] torresj commented on #88
tengo el script igual k tu, y nada... da igual si antes de formatear me iba perfecto y pude hacerlo todo lo que pasa es que no hice las capturas

[2013-12-01 12:32] antonioguirola commented on #88
A mí en Ubuntu 12.04 también me pasa el problema de que las máquinas se quedan en 'pending' siempre...

[2013-12-01 12:45] germaaan commented on #88
Yo tengo Ubuntu 13.10 y también me daba siempre el problema del "pending" hiciera lo que hiciera, hasta que por probar cogí destruí todo con "juju destroy-environment" y empecé a volver a hacerlo paso por paso, pero esta vez dejando unos 10 minutos entre acción y acción porque se veía que el ordenador estaba "trabajando" en algo todavía, que los comandos son los mismos que vienen en los apuntes:

[2013-12-02 08:39] JJ commented on #85
Lo voy a cerrar; creo que se va a quedar como está. Si te animas como scriptero oficial de la asignatura, adelante.

[2013-12-02 08:39] #85 closed, assigned to JJ

[2013-12-02 08:40] JJ commented on #88
Cierro con el acertado comentario de @germaaan

[2013-12-02 08:40] #88 closed, assigned to JJ

[2013-12-02 08:41] JJ commented on #89
@franvalverde mira lo que comenta @oskyar y si te funciona, cierra.

[2013-12-02 12:09] franvalverde commented on #89
Si,  si me funciono. No conteste porque yo lo hacia exactamente igual pero el problema era de mi poca paciencia, lo deje, me fui y cuando volvi estaba instalado y ya si muestra los contenedores.

Gracias

[2013-12-02 12:09] #89 closed, assigned to JJ

[2013-12-06 19:47] torresj opened #90 "Duda ejercicio 2 virtualicación del almacenamiento"
No entiendo la parte "avanzado" que se pide en el ejercicio.¿Sería algo así como programar lo que hace sshfs pero en ruby?es decir¿usando ruby montar un fichero remoto?

[2013-12-07 09:18] JJ commented on #90
No, crear en Ruby un programa que "responda" como si se tratara de un filesystem. Es decir, que puedas navegar con él y te muestre recursos (las variables) como si fueran directorios y subdirectorios.

[2013-12-07 09:21] torresj commented on #90
Aaaa, vale, perfecto. Muchas gracias

[2013-12-07 09:21] #90 closed, assigned to JJ

[2013-12-09 11:21] oskyar opened #91 "Problemas con Ubuntu (No funciona teclado en terminal y navegador)"
Buenas... tengo un problema y ya estoy desesperaíco...

Anoche estaba usando ubuntu como normalmente, pero cuando he arrancado esta mañana ubuntu de nuevo, el teclado no me funciona, ni en el navegador ni en el terminal. Pero sin embargo, si funciona en los editores de texto ó en la interfaz cuando vas a hacer búsquedas. Pero no entiendo porqué no funciona en el terminal ni en firefox.

Lo único q

[2013-12-09 17:54] JJ commented on #91
Estos problemas de "yo no instalé más que no sé qué" normalmente se deben a falta de espacio (y más si lo que has instalado es una base de datos). Yo me iría al terminal normal (Ctrl-alt-f1) e iría viendo los mensajes del sistema con dmesg, lo que hay en los diferentes filesystems con df y demás comprobaciones rutinarias. Si todo eso falla, .Xerrors y finalmente arrancer a prueba de errores.

[2013-12-09 18:54] oskyar commented on #91
Espacio tengo porque formatee hace poco para probar de nuevo juju y toso
eso. Y me quedan mas de 10 gigas libres. He conseguido que el terminal por
lo menos me reconozca el teclado, al parecer se ha cambiado solo el método
de entrada y por eso no me detectaba las pulsaciones del teclado. Pero
ahora no se como hacerlo para el navegador.

Gracias por contestar. Un saludo.
El 09/12/2013 18:54, "Juan

[2013-12-09 18:57] JJ commented on #91
Prueba alguna de estas cosas (aunque son soluciones para el navegador Tor)
https://trac.torproject.org/projects/tor/ticket/9353
Puede ser un problema de gtk o de ibus, pero tendrías que ver qué es lo que
no funciona, si es sólo el navegador o algún otro programa como el
procesador de textos. De todas formas, asegúrate de que tienes 10G libres
porque es lo que se ventila el MongoDB nada más empezar

[2013-12-09 19:24] oskyar commented on #91
¡¡Gracias @JJ !!, lo he conseguido arreglar...
Aunque lo he arreglado de otra forma, tan solo buscando en los programas de ubuntu `input method` ahí pones el método que quieras de entrada, reinicias y ya me funcionaba.

El problema ha estado seguramente en que me dan mucho corage los warnings y por arreglaro me cargué esto xDD. Al abrir programas cómo gedit desde el terminal, a mi siempre me salta

[2013-12-09 19:24] #91 closed, assigned to JJ

[2013-12-09 19:31] JJ commented on #91
Por una nota en el wiki de la asignatura o donde quieras contando como lo
has arreglado y enlázala desde aquí, porfa.

[2013-12-09 19:44] oskyar commented on #91
:+1: listo.

[Página de problemas](https://github.com/IV-GII/GII-2013/wiki/Problemas-ajenos-a-la-asignatura)

[2013-12-16 11:32] rafaelgonz opened #92 "Fichero de configuración de CEPH erroneo"
El fichero de configuración de CEPH está erroneo, ya que no aparecen los corchetes necesarios, cosa que en la web tutorial, si viene.

[2013-12-16 13:01] JJ commented on #92
Es de los apuntes, correspondería ponerlo en [los issues de los apuntes](http://github.com/JJ/IV/issues). En todo caso es un error de Markdown que ya está corregido (creo)

[2013-12-16 13:01] #92 closed, assigned to JJ

[2013-12-17 12:49] torresj opened #93 "Pass para azure"
JJ estuve malo ayer y no fui a clase. No tengo cuenta gratuita para azure ni nada, como decías en un correo que te la pidieramos.

[2013-12-19 18:43] germaaan opened #94 "Error al montar Ceph"
Cuando intento montar ceph con `sudo mount -t ceph germaaan-pc:/ /mnt/ceph` obtengo como resultado el error `mount error 5 = Input/output error`.

Si consulto las entradas de `dmesg` referentes a ceph solo me aparece:

[code]

También he probado con `sudo mount.ceph germaaan-pc:/ /mnt/ceph`, pero pasa lo mismo.

[2013-12-19 18:59] JJ commented on #94
¿Puede ser un problema de acceso? ¿O con la dirección? ¿No debería ser
127.0.0.1?

[2013-12-19 19:03] germaaan commented on #94
Eso es lo que me resulta raro, que en el fichero de configuración tengo:

[code]

Sin embargo, pone que el error se produce con la dirección 127.0.1.1:6789, coincidiendo el puerto, pero no la dirección que tengo puesta en el archivo de configuración.

[2013-12-19 19:05] JJ commented on #94
Tienes que mirar en /etc/hosts a ver qué dirección tiene asignada
germaaan-pc o poner ahí directamente 127.0.0.1

[2013-12-19 19:35] germaaan commented on #94
Sí, el problema de la dirección era ese, pero ahora me da otro: `mount error 22 = Invalid argument`

Y en este caso en `dmesg` dice:

[code]

Pero lo he solucionado desactivando Cephx como indican en su [página](http://ceph.com/docs/master/rados/operations/authentication/), añadiendo las siguientes líneas a la sección [global] del archivo de configuración:

[code]

![solucion_montado](https://f.cl

[2013-12-19 19:38] JJ commented on #94
Genial, Germán. Muchas gracias.

[2013-12-19 20:00] germaaan commented on #94
Para eso estamos.

[2013-12-19 20:00] #94 closed, assigned to JJ

[2013-12-20 09:07] #93 closed, assigned to JJ

[2013-12-23 14:04] germaaan opened #95 "Duda sobre almacenar directorios completos usando ceph y rados."
Almacenar objetos en una piscina es simple con `rados put -p prueba-piscina objeto archivo`, pero no se puede almacenar directorios de la misma forma con `rados put -p prueba-piscina directorio prueba` porque da un error indicando que no se puede porque es un directorio:

error reading input file prueba: (21) Is a directory
error putting prueba-piscina/directorio: Is a directory

No encuentro nada

[2013-12-23 17:39] JJ commented on #95
En realidad, como muchos ejercicios, no es del tipo de ejercicio que tiene una respuesta correcta, sino que lo planteé a ver qué ideábais. Así que tu solución cuando la tengas es tan buena como otra cualquiera.

[2013-12-23 18:08] germaaan commented on #95
Ok, gracias por la aclaración.

[2013-12-23 18:08] #95 closed, assigned to JJ

[2013-12-27 08:29] rafaelgonz opened #96 "Error al crear sistema de ficheros de objetos en CEPH"
Haciendo el ejercicio de CEPH, al intentar crear el sistema de ficheros de objetos con:

sudo /sbin/mkcephfs -a -c /etc/ceph/ceph.conf

me aparece la siguiente salida:

rafael@rafael-eM350:~$ sudo /sbin/mkcephfs -a -c /etc/ceph/ceph.conf
temp dir is /tmp/mkcephfs.NKQEZE9fhc
preparing monmap in /tmp/mkcephfs.NKQEZE9fhc/monmap
/usr/bin/monmaptool --create --clobber --add gpc 127.0.0.1:6789 --print /

[2013-12-27 11:13] JJ commented on #96
Puede ser por la configuración del sistema de ficheros, tiene que usar xattr, al parecer, como indica aqui
http://jcftang.github.io/2012/09/04/adding-an-osd-to-a-ceph-cluster/
Aquí también ponen una posible solución http://permalink.gmane.org/gmane.comp.file-systems.ceph.devel/9432
En todo caso, la forma de resolver estos errores es siempre buscar una palabra o palabras significativas en google, u

[2013-12-27 20:54] germaaan opened #97 "Problema con VNC y KVM/QEMU"
Creo una máquina virtual en KVM/QEMU para instalar Lubuntu para el ejercicio 4, se instala y después funciona perfectamente en el arranque normal:

[code]

![eje04_img02](https://f.cloud.github.com/assets/5518719/1816320/eff620e4-6f38-11e3-80b5-3dd3cce2911a.png)

Pero si lo arranco para conectar mediante VNC:

[code]

Cuando intento conetarme con `vinagre lubuntu:5901` me dice "Conexión cerrada. S

[2013-12-28 08:55] JJ commented on #97
¿Has probado otros puertos?

[2013-12-28 12:08] germaaan commented on #97
Sí, por ejemplo "-vnc :0" puerto 5900,  "-vnc :5" puerto 5905 o  "-vnc :10" puerto 5910, y para todos me dice exactamente lo mismo.

[2013-12-29 09:37] JJ commented on #97
Prueba a ver si vinagre tiene una opción --verbose para que te vaya
diciendo dónde se rechaza la conexión, si es a nivel de qemu/kvm o de la
propia máquina virtual y las razones.

El 28 de diciembre de 2013, 13:08, German Martinez <notifications@github.com

##

JJ

[2013-12-30 07:49] #96 closed, assigned to nobody

[2013-12-31 09:57] germaaan commented on #97
Sí, activo la salida de depuración y obtengo lo siguiente:

germaaan@germaaan-pc:~$ vinagre --gtk-vnc-debug lubuntu:5901
(vinagre:23564): gtk-vnc-DEBUG: ../../../src/vncconnection.c Init VncConnection=0xd848d0
(vinagre:23564): gtk-vnc-DEBUG: ../../../src/vncdisplaykeymap.c Using evdev keycode mapping
(vinagre:23564): gtk-vnc-DEBUG: ../../../src/vncdisplay.c Grab sequence is now Control_L+Alt_L
(vi

[2013-12-31 10:50] JJ commented on #97
Yo diría que no encuentra el host. Si no lo tienes en /etc/hosts el
anfitrión no tiene por qué saber que lubuntu es 192.168.0. lo que sea.
Prueba la IP que le asigne automáticamente.

[2013-12-31 13:17] germaaan commented on #97
De acuerdo, el problema era ese sí, es que en el enlace del QEMU Emulator User Documentation dice que con la opción "-name nombre" el nombre también se utiliza para el servidor de VNC, aunque no de la forma que yo creía. La dirección a la que hay que conectarse es a la de la interfaz NAT de KVM "virbr0" que en mi caso es "192.168.122.1", así con "vinagre 192.168.122.1:5901" ya si funciona correcta

[2013-12-31 13:17] #97 closed, assigned to JJ

[2014-01-07 14:02] germaaan opened #98 "Duda sobre práctica 3"
El día que se habló sobre la práctica 3 en clase llegue bastante tarde y al ponerme a hacerla me han surgido dudas.

A ver si lo entiendo, ¿la idea es que pensemos en cualquier tipo de aplicación y diseñemos una máquina virtual a montar para que en ella funcione esa aplicación?

Vamos, lo que podría ser pensar en una aplicación que provea de un servicio al usuario y especificar para ella la carga

[2014-01-07 16:34] JJ commented on #98
Efectivamente, esa es la idea. Básicamente se trata de que cuando montéis una máquina virtual en Azure o VMWare o lo que sea no lo hagáis en plan "burro grande", sino que la diseñéis con los recursos necesarios, pero sólo esos. También que os acostumbréis, primero, a la flexibilidad que te da esto, que puedes montar una máquina con Ubuntu 13.10, probarla, y tirarla y montar otra en minutos y sobre

[2014-01-07 18:21] germaaan commented on #98
De acuerdo, aclarado eso entonces.

Otro par de cosas más, en cuanto a una máquina virtual local, ¿da igual que sea bajo QEMU, VMM, VirtualBox o cualquier por el estilo?

Y en cuanto a la aplicación, ¿que sea algo como lo que hemos venido haciendo en las últimas prácticas, o más bien debería ser algo más "elaborado"? Por poner un ejemplo, montar un servicio en una máquina virtual en Azure y realiz

[2014-01-07 18:27] JJ commented on #98
Sí, el que mejor manejéis. Podéis usar esa aplicación o crear otra nueva, pero que no sea un "hola mundo"

[2014-01-07 18:44] germaaan commented on #98
Ok, pues ya lo tengo todo aclarado. Gracias.

[2014-01-07 18:44] #98 closed, assigned to JJ

[2014-01-10 20:23] germaaan opened #99 "Práctica 3"
Dirección del fuente de la práctica:
https://github.com/germaaan/PRACTICA_03

Enlace a la documentación de la práctica:
https://github.com/germaaan/PRACTICA_03/blob/master/README.md

[2014-01-11 09:16] JJ commented on #99
:-)

[2014-01-11 13:21] josemlp91 opened #100 "Error VirtualBox"
Tras un cierre inesperado de VirtualBox, virtualizando UbuntuServer esto es lo que me encuentro al arrancar:

![](http://pix.toile-libre.org/upload/original/1389445441.png)

Después de reinstalar VirtualBox por completo el problema persiste.

[code]

He buscado soluciones y la más "interesante":

[ttps://bbs.archlinux.org/viewtopic.php?id=130581](https://bbs.archlinux.org/viewtopic.php?id=130581)

[2014-01-11 15:36] franvalverde opened #101 "Practica 3"
Repositorio --> https://github.com/franvalverde/Practica3
Documentación --> https://github.com/franvalverde/Practica3/blob/master/README.md

[2014-01-11 16:27] JJ commented on #100
pacman es el programa para instalación de paquetes de archlinux; evidentemente, en otras distros te aparece el verdadero pacman. Podías por lo menos haberte movido algo antes de que te comieran los fantasmas.

[2014-01-11 16:34] torresj commented on #100
Jajajajajajaja y yo que no entendía nada del issue. Ahora entiendo...

[2014-01-11 16:39] josemlp91 commented on #100
La verdad que me he reído mucho, cuando lo vi  no sabia si era una broma (o una señal para que me pusiera más las pilas.)  Bueno a ver si consigo resucitar mi VirtualBox.

[2014-01-11 17:03] JJ commented on #100
Ponedlo en Twitter y echamos unas risas, venga...

[2014-01-11 17:22] josemlp91 commented on #100
jaja, venga voy.

[2014-01-11 18:41] antonioguirola opened #102 "Práctica 3"
Enlace a la práctica 3: https://github.com/antonioguirola/practica3IV

[2014-01-12 09:33] fllodrab opened #103 "Problema con contenedores y blobs en Azure"
Cuando ejecuto la orden `azure storage container create taper` me sale el siguiente error

![screenshoterror](https://dl.dropboxusercontent.com/s/z3uruziqa70sm3w/Error1.png)

Lo mismo pasa cuando intento crear un blob con `azure storage container create images -p blob`.

Tanto la clave primaria para la cuenta de almacenamiento como el nombre estan exportados y también están grabados en el archivo

[2014-01-12 09:43] JJ commented on #103
Es ACCESS_KEY no ACCOUNT_KEY. A veces hay que usar copy & paste.

[2014-01-12 10:08] rafaelgonz opened #104 "Práctica 3"
Enlace a la práctica 3: https://github.com/rafaelgonz/Practicas/tree/master/Practica3

Documentación: https://github.com/rafaelgonz/Practicas/blob/master/Practica3/README.md

[2014-01-12 10:23] fllodrab commented on #103
Cierto, intento evitar el copy&paste para luego recordar mejor los comandos aunque luego pasan estas cosas. Muchas gracias

[2014-01-12 12:42] PSanchezR opened #105 "Entrega práctica 3"
Enlace a la práctica 3 :https://github.com/PSanchezR/practica3
Documentación:  https://github.com/PSanchezR/practica3/blob/master/README.md

[2014-01-12 14:14] josecolella opened #106 "Práctica 3"
La práctica esta en https://github.com/josecolella/Practica3IV
La documentación esta en https://github.com/josecolella/Practica3IV

[2014-01-12 16:10] JoSeF267 opened #107 "Practica 3"
La practica se encuentra en : https://github.com/JoSeF267/practica3-iv

La documentación se encuentra en: https://github.com/JoSeF267/practica3-iv/blob/master/README.md

[2014-01-12 19:25] franciscomanuel opened #108 "Practica 3"
Enlace a la fuente de la práctica 3:https://github.com/franciscomanuel/Practica3
Enlace a la documentación de la práctica 3:https://github.com/franciscomanuel/Practica3/blob/master/README.md

[2014-01-12 19:46] juandavarju opened #109 "Práctica 3"
La práctica: https://github.com/juandavarju/PracticaIV3

La documentación de la práctica: https://github.com/juandavarju/PracticaIV3/blob/master/README.md

[2014-01-12 20:15] jpm88 opened #110 "Práctica 3"
Enlace de la práctica: https://github.com/jpm88/Practica3-IV

Documentación de la práctica: https://github.com/jpm88/Practica3-IV/blob/master/README.md

[2014-01-12 22:27] josemlp91 opened #111 "Entrega Practica 3:"
# Enlace a la fuente de la práctica 3:

[Repositorio GitHub](https://github.com/josemlp91/practica3IV)
# Enlace a la documentación de la práctica  3:

[Documento Markdown](https://github.com/josemlp91/practica3IV/blob/master/Pr%C3%A1ctica%203:%20Dise%C3%B1o%20de%20m%C3%A1quinas%20virtuales.md)

[2014-01-12 22:38] JaviRubio opened #112 "Practica 3"
Repositorio de la practica:
https://github.com/JaviRubio/Practica3IV

Documentacion:
https://github.com/JaviRubio/Practica3IV/blob/master/README.md

[2014-01-12 23:47] torresj opened #113 "Practica 3"
Practica 3 de Infraestructura virtual
- Repositorio: https://github.com/torresj/practica-3
- Documentación: https://github.com/torresj/practica-3/blob/master/Documentación/documentacion.md

[2014-01-13 02:07] rogegg opened #114 "Práctica 3"
Práctica 3 de Infraestructura Virtual

Repositorio: https://github.com/rogegg/IV_Practica3

Documentación: https://github.com/rogegg/IV_Practica3/blob/master/Doc.md

[2014-01-13 04:21] Jmf91 opened #115 "Práctica 3"
Práctica 3 de IV.

Repositorio: https://github.com/Jmf91/Practica3

Documentación: https://github.com/Jmf91/Practica3/blob/master/documentaci%C3%B3n.md

[2014-01-13 05:31] jmanday opened #116 "Práctica 3"
Dirección del repositorio de la práctica:
https://github.com/jmanday/Practica3

Enlace a la documentación de la práctica:
https://github.com/jmanday/Practica3/blob/master/DOCUMENTACION.md

[2014-01-13 06:54] oskyar opened #117 "Práctica 3"
Práctica 3 de Infraestructura Virtual

Repositorio: https://github.com/oskyar/Practica3-VirtualMachine

Documentación: https://github.com/oskyar/Practica3-VirtualMachine/blob/master/documentacion/documentacion.md

[2014-01-13 08:53] elmendacorp opened #118 "Práctica 3"
Documentación: https://github.com/elmendacorp/Practica3IV/blob/master/docu.md

Repo:https://github.com/elmendacorp/Practica3IV

[2014-01-13 08:54] JJ commented on #118
Te recuerdo que tienes la práctica 2 pendiente todavía.

[2014-01-13 08:55] JJ commented on #118
Y en este caso tampoco corresponde a lo que se solicita en la práctica: una _comparación_ entre diferentes configuraciones virtuales y, además, de una aplicación propia.

[2014-01-13 09:43] rafacruiz opened #119 "Práctica 3"
Práctica 3 Infraestructura Virtual

Documentación:

https://github.com/rafacruiz/Practica3/blob/master/README.md

Repositorio:

https://github.com/rafacruiz/Practica3

[2014-01-13 10:30] elmendacorp commented on #118
Cierto me faltaban los benchmarks de la maquina. Fallo mio.

[2014-01-13 10:32] JJ commented on #118
De hecho, te falta _todo_ Como prerrequisito de entrega de la práctica
tienes que hacer un porcentaje de los ejercicios de autoevaluación
correspondientes y no has hecho ninguno (que yo haya visto)

[2014-01-13 12:57] STiago opened #120 "Práctica 3"
Documentación:

https://github.com/STiago/Practica3/blob/master/README.md

Repositorio:

https://github.com/STiago/Practica3

[2014-01-13 15:52] melero90 opened #121 "Práctica3"
Enlace al repositorio:
https://github.com/melero90/practica3

Enlace al documento:
https://github.com/melero90/practica3/blob/master/README.md

[2014-01-13 16:45] R-R-R-R-1 opened #122 "Práctica 3"
Enlace repositorio:

https://github.com/RaulSFuentes/RaulSanchez-Practica3-IV-2013

Enlace documento:

https://github.com/RaulSFuentes/RaulSanchez-Practica3-IV-2013/blob/master/README.md

[2014-01-13 17:24] pedroag opened #123 "Práctica 3"
-  Repositorio:
  https://github.com/pedroag/Practica3IV
- Documentación:
  https://github.com/pedroag/Practica3IV/blob/master/README.md

[2014-01-13 20:05] SergioMGamarra opened #124 "Práctica 3"
Documentación de la pŕactica: https://github.com/SergioMGamarra/Practica3IV/blob/master/README.md

Repositorio: https://github.com/SergioMGamarra/Practica3IV

[2014-01-13 20:19] jcastilloprez opened #125 "Práctica 3"
Documentación:

https://github.com/jcastilloprez/Practica3/blob/master/README.md

Repositorio:

https://github.com/jcastilloprez/Practica3

[2014-01-14 00:38] javiercollado opened #126 "Práctica 3"
Aquí esta el repositorio de la práctica 3:
[https://github.com/javiercollado/practica3](https://github.com/javiercollado/practica3)

Aquí la documentación:
[https://github.com/javiercollado/practica3/blob/master/README.md](https://github.com/javiercollado/practica3/blob/master/README.md)

[2014-01-14 09:20] fllodrab opened #127 "Practica 3"
Documentación:
https://github.com/fllodrab/Practica3/wiki/Memoria-Practica-3

Rpositorio de la práctica 3:
https://github.com/fllodrab/Practica3

[2014-01-14 11:27] JJ commented on #99
Resultados sorprendentes, pero muy bien en general.

[2014-01-14 11:27] #99 closed, assigned to JJ

[2014-01-14 11:30] JJ commented on #101
En general, correcta, pero la representación gráfica usando líneas no es la adecuada (debería ser barras) y los resultados son más o menos obvios: más núcleos y memoria, más peticiones concurrentes. Debeŕias haber justificado el uso de 50 peticiones concurrentes (son muchas peticiones concurrentes) y haber apuntado no a maximizar las prestaciones sino a minimizar los recursos para un nivel de pres

[2014-01-14 11:30] #101 closed, assigned to JJ

[2014-01-14 11:34] JJ commented on #102
Yo creo que las diferencias no son significativas. La principal conclusión sería que cuantos menos recursos se usen, mejor (porque te va a costar menos). Al menos para este nivel de carga (que es un tanto arbitrario también)

[2014-01-14 11:34] #102 closed, assigned to JJ

[2014-01-14 12:19] #103 closed, assigned to JJ

[2014-01-14 16:33] #100 closed, assigned to JJ

[2014-01-14 16:33] #71 closed, assigned to JJ

[2014-01-14 16:37] JJ commented on #104
Pon el Markdown bien, hombre, que tanta raya actúa como H2
También, ya que sabéis git y un poco de shell, hacer la configuración de las mismas usándolo.
Podías comparar más cosas, no sólo los segundos, también la tasa de transferencia o hacer un grafiquito. Yo diría de todas formas que no hay mucha diferencia entre las máquinas con dos núcleos. Tendrías que haber usado configuraciones más "duras"

[2014-01-14 16:37] #104 closed, assigned to JJ

[2014-01-14 16:41] JJ commented on #105
Si hubieras usado Azure, por ejemplo, te habría sido más fácil instalar la máquina virtual, también KVM. De esta forma tienes que tardar un buen rato en instalar las máquinas virtuales. No sé qué quieres presentar, pero un diagrama de tarta no es el adecuado. Es curioso que los hipervisores influyan tanto en las prestaciones y además que lo hagan de forma diferente dependiendo de la memoria. En to

[2014-01-14 16:43] JJ commented on #106
Coñe, ¡tanta captura de pantalla y al final no pones un gráfico con los resultados!

[2014-01-14 16:47] JJ commented on #107
Tienes un +1 por haberte currado el equilibrador de carga, pero el problema es que creo que habrías obtenido el mismo resultado si hubieras trabajado con máquinas simples. Aparte, el gráfico de línea no es el adecuado para representar (categorías usan barras) y el resultado es relativamente obvio, más memoria, más procesadores... mejor.

[2014-01-14 16:47] #107 closed, assigned to JJ

[2014-01-14 16:50] JJ commented on #108
Para variables categóricas como esta no se usan líneas, sino barras o puntos. Aparte, el eje y debe empezar en 0, si no se exageran las diferencias. No uséis excel (y menos Excel capturado) para los gráficos, hombre... Al final lo que tienes que comparar es el Debian con el Kubuntu, y no has puesto ningún gráfico.

[2014-01-14 16:50] #108 closed, assigned to JJ

[2014-01-14 16:53] #106 closed, assigned to JJ

[2014-01-14 16:54] #105 closed, assigned to JJ

[2014-01-14 16:55] JJ commented on #109
No te corrijo hasta que no corrijas las faltas de ortografía.

[2014-01-14 16:58] JJ commented on #110
Las etiquetas deben decir de qué se trata. Uno no se acuerda de la descripción de las máquinas. La conclusión debería ser que lo importante es poner cuantos más núcleos mejor, la diferencia dentro de un SO para una cantidad de memoria determinada no parecen muy grandes.

[2014-01-14 16:58] #110 closed, assigned to JJ

[2014-01-14 17:01] JJ commented on #111
+1 para @antonioguirola por haber puesto algo que te ha servido para tu práctica.

[2014-01-14 17:01] #111 closed, assigned to JJ

[2014-01-14 17:05] JJ commented on #112
10 por originalidad. Genial.

[2014-01-14 17:05] #112 closed, assigned to JJ

[2014-01-14 17:09] JJ commented on #113
¿Y no podías haberte descargado mongodb directamente desde Azure?

[2014-01-14 17:09] #113 closed, assigned to JJ

[2014-01-14 17:21] JJ commented on #114
Las gráficas deben empezar siempre en el origen. ¿Seguro que la máquina 1 y 3 son diferentes? Dan prácticamente el mismo resultado...
Los enlaces los tienes mal.

[2014-01-14 17:21] #114 closed, assigned to JJ

[2014-01-14 17:22] #115 closed, assigned to nobody

[2014-01-14 17:23] torresj commented on #113
Era por no tener que meter los datos a la base de datos pero sinceramente, si volviera a hacer la practica usaría mongolab y me dejaría de historias

[2014-01-14 17:23] juandavarju commented on #109
Juas ¿Y yo quiero escribir libros? Estoy avergonzado por ello. Ya están corregidas todas, creo. Si ve alguna más dígamelo antes de que le tenga que pagar la revisión del oculista a alguien.

[2014-01-14 17:32] JJ commented on #109
El ejercicio tiene un 10 por originalidad y diseño (¿mejor más procesadores o más memoria? Poca gente ha pensado plantear las cosas de esa forma), pero baja puntos tú-ya-sabes-qué y además que no te hayas currado bien la presentación, capturando pantallas de las tablas y no haciendo una representación gráfica correcta. A ver si cuentas eso de que quieres ser escritor (y compartimos experiencias :-

[2014-01-14 17:32] #109 closed, assigned to JJ

[2014-01-14 17:32] PSanchezR commented on #105
Cierto me habría sido mas facil realizarlo con kvm o azure pero comencé a realizar la práctica con virtualbox y probando las configuraciones del procesador me fallaba la aplicación y no encontraba el error por eso decidí probar con hipervisores diferentes cambiando la memoria ram únicamente. El diagrama de tarta es la aplicación que utiliza de google chart, no representa ninguna información sobre

[2014-01-14 17:35] JJ commented on #116
Debéis usar en vez de etiquetas descriptores. Cuando llegas a la tabla debian1 y debian2 ya no sabes qué tenía cada uno.

[2014-01-14 17:35] #116 closed, assigned to JJ

[2014-01-14 17:39] Jmf91 commented on #115
JJ me falta la práctica 1, esta noche se la subo sin falta.

[2014-01-14 17:39] JJ commented on #119
Ten cuidado con la escritura, hombre. "Los mismo" no es castellano correcto. Tampoco "ubutu"
¿Seguro que está todo bien? ¿Cómo es que con dos núcleos y 1GB tardan más las peticiones?

[2014-01-14 17:39] #119 closed, assigned to JJ

[2014-01-14 17:40] antonioguirola commented on #111
Gracias!!

[2014-01-14 17:43] JJ commented on #120
Hay que cuidar un poco la presentación, hay errores en el markdown. La desviación se presenta junto con la media, no en una barra aparte. No parece que haya mucha diferencia y en realidad el objetivo de la práctica no era comparar por comparar sino que realmente hubiera una forma de seleccionar una configuración adecuada para un tema determinado. También debes etiquetar correctamente los ejes: seg

[2014-01-14 17:43] #120 closed, assigned to JJ

[2014-01-14 17:47] #117 closed, assigned to JJ

[2014-01-14 17:52] JJ commented on #121
Algún gráfico, hombre...

[2014-01-14 17:52] #121 closed, assigned to JJ

[2014-01-14 17:55] JJ commented on #122
Podías ordenar bien los gráficos, hombre... y no capturarlos del Excel, habiendo Gnuplot o R. Y castigado a escribir "Se escribe Ubuntu con u al final" 1000 veces.

[2014-01-14 17:55] #122 closed, assigned to JJ

[2014-01-14 17:57] JJ commented on #123
¿Por qué decepciona? Podías poner también algún gráfico, hombre...

[2014-01-14 17:57] #123 closed, assigned to JJ

[2014-01-14 17:59] JJ commented on #105
La cuestión no es que uses Google Chart, sino que los diagramas de tarta se usan exclusivamente para porcentajes, no para presentar dos cantidades frente a frente.

[2014-01-14 17:59] JJ commented on #115
Puntúas sobre 7, por enviarla tarde...

El 14 de enero de 2014, 18:39, Juan Moral Fernández <
notifications@github.com> escribió:

##

JJ

[2014-01-14 18:03] JJ commented on #124
¿Cómo se escribe procesador? Por favor, prestadle cierta atención al Markdown; tienes errores en las listas, por ejemplo, y sale todo en gris no sé porqué. Etiquetad bien los gráficos, incluyendo ejes. Y no capturéis pantallas de Excel. Usad el tipo de gráfico correcto. Saca alguna conclusión de por qué hay una configuración mejor que otra.

[2014-01-14 18:03] #124 closed, assigned to JJ

[2014-01-14 18:08] JJ commented on #125
Corrige faltas de ortografía. Cuando capturéis pantallas hacedlo bien, jolines, que has recortado parte de una columna.

[2014-01-14 18:08] #125 closed, assigned to JJ

[2014-01-14 18:10] PSanchezR commented on #105
No JJ lo que quiero decir es que el gráfico es lo que hace mi aplicación, la aplicación que he montado en el servidor es una página web que utiliza google chart para hacer gráficos, el gráfico no es ninguna representación visual de los datos obtenidos por AB.

[2014-01-14 18:12] JJ commented on #126
Prestad atención al formateo. Tratad de usar aplicaciones lo más reales posibles. Lo del balanceo está bien porque ya lo tenéis, pero los resultados que obtengáis no os van a ser muy ùtiles.

[2014-01-14 18:12] #126 closed, assigned to JJ

[2014-01-14 18:19] JJ commented on #105
Ah, OK, perdón...

[2014-01-14 18:58] PSanchezR commented on #105
No te preocupes si el fallo a sido mio por no poner un gráfico de los resultados entre otros muchos errores

[2014-01-14 19:00] JJ commented on #105
Tampoco tantos, hombre. No te fustigues.

[2014-01-14 19:15] anaprados opened #128 "Práctica 3"
###### [Repositorio](https://github.com/anaprados/Practica3-IV)
###### [Documentación](https://github.com/anaprados/Practica3-IV/blob/master/documentacio%CC%81n.md)

[2014-01-14 19:15] PSanchezR commented on #105
jajajajja gracias por el consuelo.

[2014-01-14 19:34] JJ commented on #128
Un poco tarde.. y a CentOS le falta una barra.

[2014-01-14 19:34] #128 closed, assigned to JJ

[2014-01-14 22:43] anaprados commented on #128
Lo de la barra es que la velocidad me salía 0 y por lo visto que significa que no tiene límite, no sé cuanto de verdad tendrá.

[2014-01-15 06:23] #127 closed, assigned to JJ

[2014-01-15 15:44] rafacruiz commented on #119
Realice varias pruebas y los resultados obtenidos eran muy parecidos a los que muestro en la práctica. Esas diferencias tan grandes solo se ven con Ubuntu Server, en Guadalinex las diferencias son mucho más reducidas.

Pero es cierto que la tercera configuración de Ubuntu Server que a priori es las más potente, es donde más tiempo tarda en atender el servidor las peticiones y menos peticiones resu

[2014-01-16 23:33] Jmf91 opened #129 "Práctica 1"
Práctica 1 IV.

Documentación: https://github.com/Jmf91/Practica1/blob/master/documentacion.md
Repositorio: https://github.com/Jmf91/Practica1

Siento la tardanza JJ.

[2014-01-17 08:24] JJ commented on #129
Muy justa, pero correcta.

[2014-01-17 08:24] #129 closed, assigned to JJ

[2014-01-18 11:28] oskyar opened #130 "Ejercicio 4 Tema 5"
En el ejercicio 4 pide lo siguiente:
`Crear una máquina virtual Linux con 512 megas de RAM y entorno gráfico LXDE a la que se pueda acceder mediante VNC y ssh.`

¿Vale tener una VM con Debian e instalarle el entorno gráfico LXDE? o ¿me descargo una distro que tenga ese entorno gráfico por defecto?

Un saludo.

[2014-01-18 11:29] JJ commented on #130
Sí, puede ser Debian.

[2014-01-18 11:33] oskyar commented on #130
¡Gracias por contestar tan rápido!

[2014-01-18 11:33] #130 closed, assigned to JJ

[2014-01-19 18:26] JJ opened #131 "Por lo que habéis visto, ¿qué preferís? ¿Ansible o Chef?"
Se trata de que veáis las ventajas e inconvenientes que habéis visto a cada uno.

[2014-01-19 18:43] franvalverde commented on #131
Chef es una herramienta de configuración. Solo es necesario entender un poco de ruby y al crearte el script .rb te automatiza toda la instalación y configuración de un paquete. Funciona a través de "recetas".

Ansible no lo he usado pero por lo que he leído también se trata de una herramienta de configuración pero basada en python. Tiene la posibilidad de gestionar los nodos a través de SSH.

Conf

[2014-01-19 19:02] JJ commented on #131
Pero espérate a usar Ansible en la clase de mañana, hombre...

[2014-01-19 19:05] franvalverde commented on #131
jajaja. ok, pero como ponía por lo que habéis visto… yo me limitado a contestar. Mañana lo vemos entonces a ver si me cambia mi forma de pensar sobre él.

[2014-01-19 19:13] JJ commented on #131
Igual hasta te gusta más :-)

[2014-01-20 21:09] josecolella commented on #131
Ansible es mucho más flexible al momento de usarla. No es tan rigido con los directorios como Chef. Además tienes la flexibilidad de que puedes ejecutar ansible desde afuera mientras que chef tiene que tener las recetas adentro del servidor. Chef es más rápido que Ansible pero Ansible es más flexible con su fácil gestión de multiples máquinas. El sintaxis de Chef es un poco más claro que el que us

[2014-01-22 00:14] FdezI opened #132 "Práctica 3"
Siento la entrega tardía, espero que aún sea evaluable:
###### Repositorio: https://github.com/FdezI/Practica3
###### Documentación: https://github.com/FdezI/Practica3/blob/master/documentacion.md

[2014-01-22 06:46] JJ commented on #132
Primero, debías de haberte fijado en un sistema real.  Te has empantanado haciendo cosas innecesarias como cambiar el tamaño de las particiones. Luego hay que comparar diferentes sistemas, no diferentes hipervisores. Y hay que comparar cosas reales, no concluir como con la red que el resultado es el mismo; claro que lo es porque la red que estás comparando son los mismos dispositivos virtuales. Fi

[2014-01-22 06:46] #132 closed, assigned to JJ

[2014-01-22 09:43] FdezI commented on #132
- El cambio en las particiones lo he hecho de tal manera debido a diversas pruebas locales que he estado haciendo, me era mucho más cómodo trabajar con una imagen base y redimensionar a posteriori que crear una distinta para cada uno. Con respecto a la disposición de los datos de las mismas me he fijado en sistemas reales utilizados en empresas de hosting dedicadas a tal fin.
- _"hace falta diseña

[2014-01-22 17:58] torresj opened #133 "Ultima Practica"
¿Mañana vamos a empezar a hacer algo?¿hay que llevar el portatil?¿o solo se van a presentar los trabajos?

[2014-01-22 18:04] JJ commented on #133
Hola,

El 22 de enero de 2014, 18:58, Jaime notifications@github.com escribió:

Sólo presentarse los trabajos y empezar a repartir los grupos; si da
tiempo, se verá qué puede hacer falta y el viernes en clase empezamos a
provisonar lo que haga falta.

[2014-01-23 12:35] R-R-R-R-1 opened #134 "Ejercicios antes de la práctica final"
¿Tenemos que tener los ejercicios últimos acabados antes de la práctica de mañana? Si no es así, ¿para cuando los tendríamos que tener acabados?

[2014-01-23 12:40] JJ commented on #134
Conviene, pero no es imprescindible
El 23/01/2014 13:35, "Raúl Sánchez" notifications@github.com escribió:

[2014-01-23 15:45] R-R-R-R-1 commented on #134
Ok, gracias.

[2014-01-23 15:45] #134 closed, assigned to JJ

[2014-01-26 17:54] germaaan opened #135 "Entrega última práctica"
¿De la última práctica hay que "formalizar" una entrega de la misma para una fecha en concreto?

[2014-01-26 18:14] JJ commented on #135
Sí, para el día 10 de febrero, digamos.

2014-01-26 German Martinez notifications@github.com

##

JJ

[2014-01-26 21:43] germaaan commented on #135
Ok ok, así habrá tiempo de presentar algo presentable.

[2014-01-26 21:43] #135 closed, assigned to JJ

[2014-01-27 15:19] jpm88 opened #136 "Duda sobre la Práctica Final"
Hola JJ, ¿a los que no hemos hecho el proyecto de coworking hay alguna opción de poder entregar algo y recuperar (al menos) una parte de los dos puntos?

Saludos.

[2014-01-27 16:17] JJ commented on #136
Simplemente haced la práctica siguiendo el guión, buscando una aplicación
lo más real posible.

[2014-01-27 16:24] jpm88 commented on #136
Ok, duda aclarada, gracias.

[2014-01-27 16:24] #136 closed, assigned to JJ

[2014-01-28 11:41] rafaelgonz commented on #131
Pos a mi me gusta bastante más ansible, y los ejercicios que hay de ansible por ahora, se hacen muy bien, y no son difíciles.

Y mirad que bonito jeje https://www.dropbox.com/s/93s2aiomftp6i11/pantallazo6.png

[2014-01-28 17:43] germaaan commented on #131
Por un lado tenemos que Ansible es más cómodo de usar por la simple razón de que realizar un playbook y ejecutarlo directamente se hace menos engorroso que tener que hacer crear toda la estructura de directorios y archivos que necesitan las recetas de Chef.

Chef quizás en su sintaxis y opciones sea más intuitivo para algunas mismas tareas respecto a Ansible, por ejemplo, a la hora de desinstalar

[2014-01-28 17:50] germaaan opened #137 "Problema con Vagrant y Ansible"
No consigo hacer funcionar Ansible con Vagrant, uso este Vagrantfile:

[code]

Y este playbook:

[code]

Pero cuando hago `vagrant provision` siempre me aparece el mismo error:
![eje08_img02](https://f.cloud.github.com/assets/5518719/2021805/49b3e002-8844-11e3-8c20-31185cc694a5.png)

Se ve que no encuentra el archivo de inventario, en la documentación de Vagrant pone que no es necesario indicarlo,

[2014-01-28 17:52] JJ commented on #137
Te está tratando de conectar a todos los hosts del mundo. Mira a ver qué
tienes en el fichero de hosts y pon sólo al host que quieres que te conecte.

El 28 de enero de 2014, 18:50, German Martinez
notifications@github.comescribió:

##

JJ

[2014-01-28 18:08] germaaan commented on #137
En el archivo "/etc/hosts" de mi sistema he añadido `192.168.2.50 vagrant`, en el playbook cambio `hosts: vagrant` y me dice que no hay hosts que coincidan. En el Vagrantfile justo antes de `ansible.playbook = "playbook.yml"` pongo `ansible.inventory_path = "ansible_hosts"`,  teniendo ese archivo:

[code]

Y el resultado sigue siendo el mismo: `skipping: no hosts matched`.

[2014-01-28 18:20] JJ commented on #137
Pon el camino completo a `ansible_hosts` y haz previamente un `ping` a ver si te puedes conectar correctamente. De todas formas, ¿dónde has visto que vagrant se meta en la sección vagrant de ansible_hosts? ¿No será mejor que dejes el fichero con sólo una entrada?
[Aquí te viene un ejemplo ](http://elasticdog.com/2013/08/developing-ansible-playbooks-for-arch-linux-with-vagrant/) que es precisamente

[2014-01-28 19:05] torresj commented on #131
Después de usar ambos creo que chef tiene una sintaxis mas cómoda y el hecho de que se use ruby es un punto a favor. Pero tener que crear la estructura de carpetas y archivos me parece una clara desventaja. En ese sentido ansible es mucho mas cómodo y su sintaxis tampoco es mucho mas complicada que la de chef. Además otra gran diferencia es que chef se ejecuta en la propia maquina donde se instala

[2014-01-28 19:08] germaaan commented on #137
Lo de meter vagrant en la sección vagrant dentro de `ansible_hosts` ha sido por probar, ya que lo otro no funcionaba. Pero que mi archivo `ansible_host` es igual al archivo de inventario host al que se hace referencia en el enlace ese.

Por lo que parece poner `ansible.inventory_path` para indicar la ruta del archivo de inventario como indican en la [documentación de Vagrant](http://docs.vagrantup

[2014-01-28 19:09] JJ commented on #137
Claro.

[2014-01-28 19:29] germaaan commented on #137
Ok, pues entonces ya todo problema solucionado.

[2014-01-28 19:29] #137 closed, assigned to JJ

[2014-01-30 08:09] #133 closed, assigned to JJ

[2014-02-01 19:40] jcastilloprez commented on #131
Si tuviera que quedarme con uno de los dos me quedo con Ansible, ya que este me ha parecido más fácil a la hora de utilizar que Chef. Sobre todo a la hora de los directorios que en Chef tuve problemas a la hora de crear tanta cadena de directorios que la verdad llegue a perderme un poco entre ellos.

[2014-02-05 08:30] josecolella opened #138 "Práctica 4: Cafeteros Cocorocó"
Profesor,
- La documentación de la práctica se puede encontrar en el siguiente enlace.
  https://github.com/IV-GII/Cafeteros/blob/master/README.md
- El repositorio se encuentra en el siguiente enlace.
  https://github.com/IV-GII/Cafeteros
- La url del sitio es la siguiente:
  http://cafeteros-cocoroco.rhcloud.com/
- La presentación se puede encontrar en la siguiente url:
  http://www.slideshare.ne

[2014-02-05 12:50] josemlp91 commented on #131
Depende del uso, chef para realizar la configuración de una máquina aislada esta bastante bien, para hacer un despliegue grande donde se integren muchas máquinas, desde luego ansible es la mejor opción.

[2014-02-06 01:34] oskyar commented on #131
En vista de mi experiencia, y a los errores de ambos gestores de configuraciones, no me decantaría por ninguno en concreto, todo dependería  del entorno en el que estuviera. Por ejemplo como han comentado anteriormente mis compañeros, si hay multitud de máquinas y queremos tener la misma configuración en todos (imaginemos un cíber) veo mucho más fácil y práctico usar los playbooks de ansible, que

[2014-02-06 18:23] R-R-R-R-1 commented on #131
Pues verdaderamente yo prefiero ansible, ya que, como dice el issues, basándome en lo que he visto y de como me ha ido, me ha sido más fácil manejar y entender ansible, pues con chef me he liado un poco. Supongo que sin buceara un poco más descubriría que cada uno tiene sus ventajas según el uso que deseemos darle. Pero vamos para gustos colores.

[2014-02-07 10:26] josemlp91 opened #139 "Duda ultimo ejercicio tema 6."
El último ejercicio del tema 6, "Configurar tu máquina virtual usando vagrant con el provisionador ansible", ¿cual es la idea?, Que utilicemos  directivas dentro del Vagrantfile o que realicemos el aprovisionamiento con Ansible, como si se tratase de cualquier otra máquina virtual.

[2014-02-07 10:39] josecolella commented on #139
Dentro del Vagrantfile puedes especificar que quieres usar ansible como sistema de provisionamiento. Aqui esta como hacerlo http://docs.vagrantup.com/v2/provisioning/ansible.html

[2014-02-07 10:41] josecolella commented on #139
En el vagrantfile va a estar presente la direccion de tu playbook

[2014-02-07 15:19] josemlp91 commented on #139
Gracias tocayo, lo repasare entonces.

[2014-02-07 15:19] #139 closed, assigned to JJ

[2014-02-07 23:54] jpm88 commented on #131
Yo también opino que ansible es mejor, por lo que lo he utilizado es bastante más intuitivo y sencillo de utilizar que chef.

[2014-02-08 12:47] jmanday commented on #131
Yo me quedo con ansible, me ha resultado más fácil su aprendizaje y posterior uso. Su configuración es mas sencilla que la de chef (por lo menos para mi).

[2014-02-08 12:59] JoSeF267 commented on #131
Sin duda alguna me quedo con ansible , cuando he utilizado chef me ha dado algún que otro problema y es un poco mas enrevesado, sin embargo, ansible es fácil , intuitivo y algún fallo que otro ha sido fácil y rápido solucionarlo.

[2014-02-08 19:52] germaaan opened #140 "Práctica Final"
Dirección del fuente de la práctica:
https://github.com/IV-GII/Django_Traduccion

Enlace a la documentación de la práctica:
https://github.com/IV-GII/Django_Traduccion/blob/master/README.md

Enlace a la aplicación funcionando:
http://asdfteam.cloudapp.net/

Desarrolladores:
José Manuel Castillo Pérez (@jcastilloprez)
Iñaki Fernández Janssens de Varebeke (@FdezI)
Manuel Jesús García Manday (@jmanda

[2014-02-08 22:00] fllodrab opened #141 "Práctica Final: Ingenia"
Documentación de la práctica:
https://github.com/IV-GII/Ingenia/blob/master/README.md

Fuentes:
https://github.com/IV-GII/Ingenia

Enlace a la aplicación:
http://ubuntu1204peq.cloudapp.net/ingenia/

---

Equipo Ingenia Tracking:
Francisco Valverde Villalba
Juan Moral Fernandez
Rafa Carrasco Ruiz
Fernando Llodra Belda

[2014-02-09 04:00] jpm88 opened #142 "Práctica Final"
Enlace al repositorio:

https://github.com/jpm88/Practica4-IV

Enlace a la documentación:

https://github.com/jpm88/Practica4-IV/blob/master/README.md

Enlace de la aplicación funcionado:

http://practica1-jpm88.rhcloud.com/

Desarrollador:
Juan Antonio Pérez Maldonado (@jpm88)

[2014-02-09 09:36] fllodrab commented on #131
Si no fuera por que no me funciona diría que me quedo con ansible pero no se si es por que he usado mac os x, pero ansible no me funciona bien. Asique me quedo con chef, aunque por lo que he visto ansible es mucho más fácil de configurar y si todo hubiera funcionado bien me quedaría con éste.

[2014-02-09 09:40] JJ commented on #131
A lo mejor lo que no funciona es OS X :-)

[2014-02-09 11:14] franvalverde commented on #131
Como ya comente antes de ver ansible, chef me parece una buena herramienta y me parece que la gente le da un poco de lado porque quizás requiera mas tiempo en entender como trabaja.
Lo bueno que tiene ansible es que puedes tener archivos de configuración en otro lugar fuera del servidor y que quizás su sintaxis sea mas fácil de comprender que chef.

[2014-02-09 16:30] rafaelgonz opened #143 "Práctica Final"
Entrega de la práctica final del equipo JRR Corporation, de título GranadaTS

Repositorio: https://github.com/IV-GII/GranadaTS

Documentación: https://github.com/IV-GII/GranadaTS/blob/master/README.md

Aplicación: http://granadats.cloudapp.net/

Presentación: http://www.slideshare.net/rafagonzalezjimenez/granada-tierra-soada

---

Jose López Sánchez

Rafael Gónzalez Jiménez

Raúl Sánchez Fuentes

[2014-02-09 21:03] torresj opened #144 "Práctica Final"
Practica Final correspondiente a la aplicación SocialCookies:
- Dirección del proyecto en github
  https://github.com/IV-GII/SocialCookies
- Documentación
  https://github.com/IV-GII/SocialCookies/blob/master/Documentacion/documentacion.md
- Aplicación
  http://socialcookies.cloudapp.net/socialcookies

Los integrantes del grupo están en el final de la documentación

[2014-02-09 21:32] Jmf91 commented on #131
Por mi experiencia usando sendas herramientas, me quedo con Ansible. Es mucho más facil a la hora de configurar y no requiere la creación de "recetas", como ocurre con chef.

[2014-02-09 22:10] JaviRubio commented on #131
Pues para dar la nota discordante, yo me quedo con chef, que me ha dado menos quebraderos de cabeza que Ansible, que me ha resultado bastante tikismikis con el formato de los playbooks, en cuanto a tabuladores y espacios. Con chef no he tenido ningun problema ni de configuración ni de funcionamiento.

[2014-02-12 15:56] PSanchezR opened #145 "conexión lenta en máquina Debian"
Hola JJ estoy teniendo un problema con una máquina virtual basada Debian montada sobre el hipervisor VMware. La máquina tiene acceso a la red LAN mediante una conexión Bridge con el anfitrión (Tiene que ser Windows 8.1 :( ) y consigo hacer ping a cualquier web sin problemas y a todos los equipos de la red pero a la hora de actualizar el sistema se agota el tiempo de espera sin conseguir actualizar

[2014-02-12 16:23] JJ commented on #145
Hola,

El 12 de febrero de 2014, 16:56, PSanchezR notifications@github.comescribió:

Es difícil de saber. Prueba en la máquina invitada a hacer ping a loopback,
prueba de la máquina invitada a la anfitriona y viceversa, y así
sucesivamente, a ver dónde está el problema. Mira también un traceroute, a
ver cuál es el link de la red que es lento.. una vez que lo sepas, aplícale
alguna solución específ

[2014-02-13 11:01] PSanchezR commented on #145
No he conseguido acelerar la conexión con vmware, pero he instalado virtualbox y he exportado la máquina a este hipervisor y ahora la velocidad es mucho mayor, sería algún tipo de filtro de vmware para que las máquinas no consuman mucho ancho de banda.

[2014-02-13 11:01] #145 closed, assigned to JJ

[2014-02-15 19:47] antonioguirola commented on #131
Yo he encontrado más sencillo de utilizar ansible, puede que sea porque le he dedicado más tiempo que a chef. El hecho de poder aprovisionar las máquinas remotamente y la facilidad con la que añadir/eliminar hosts me han convencido, además la documentación es muy completa y es muy sencillo encontrar lo que buscas, la de chef quizá intimide de primeras.

[2014-02-15 19:52] elmendacorp commented on #131
Pues yo por lo que he visto a nivel inicial ansible parece mucho mas sencillo que chef, aunque lo que he leído y visto en un par de vídeos de gente que gestiona sistemas es que se suele usar mucho mas chef a nivel de empresa, según dicen es por el sistema que sigue a la hora de obtener los paquetes para el propio sistema. Por sencillez de uso ansible, con formación para el futuro chef.

[2014-02-15 19:53] #118 closed, assigned to JJ

[2014-02-16 11:03] JJ commented on #138
Habéis hecho un buen trabajo.

[2014-02-16 11:07] #138 closed, assigned to JJ

[2014-02-16 11:12] JJ commented on #140
Muy buena la parte IV, aunque está claro que no ha sido entre todos...

[2014-02-16 11:12] #140 closed, assigned to JJ

[2014-02-16 11:17] JJ commented on #141
En los ejemplos capturados se ven conflictos de git que no habéis resuelto (donde pone HEAD). El modelo es MVC con la C de controlador, no MVT. La parte IV consiste sólo en usar Azure y ni siquiera provisionáis, por lo que es bastante deficiente.

[2014-02-16 11:17] #141 closed, assigned to JJ

[2014-02-16 11:20] JJ commented on #142
Me temo que no has entendido el concepto de provisionamiento. Por favor, vuelve a leer el último tema. No se trata simplemente de crear una máquina virtual y trabajar con ella.

[2014-02-16 11:20] #142 closed, assigned to JJ

[2014-02-16 11:25] JJ commented on #143
En general, bien, aunque creo que habéis liado el aprovisionamiento más de la cuenta.

[2014-02-16 11:25] #143 closed, assigned to JJ

[2014-02-16 11:33] JJ commented on #144
No estaría mal acreditar la autoría de la foto, aunque sea mía... Por lo demás, bien en general.

[2014-02-16 11:33] #144 closed, assigned to JJ

[2014-02-16 11:37] JJ commented on #118
Deberías haberla reabierto, en vez de cerrarla, que me pierdo. Ahora el enfoque es correcto, pero no has hecho gráficas finales, ni has sacado conclusiones.

[2014-02-16 12:58] FdezI commented on #140
Hay muchas cosas, que aunque parezcan hechas entre uno solo, podría sorprenderle quién ha participado y quién no. Uno de los objetivos principales de la práctica era el "coworking" pero parece ser que no se esperaba para nada que se trabajara de forma cooperativa. Estando todos en una sala y en un mismo entorno de trabajo agiliza y mejora el resultado del trabajo realizado. Parte de esta agilidad

[2014-02-16 16:11] JJ commented on #140
Cuando digo _está claro_ es que [está claro](https://github.com/IV-GII/Django_Traduccion/blame/master/README.md) como está muy claro, en ese mismo documento, quien no ha contribuido absolutamente nada a la documentación, al menos en la versión final. También está [muy claro](https://github.com/IV-GII/Django_Traduccion/tree/master/scripts) quién ha escrito esa parte (la parte de la asignatura, que

[2014-02-16 17:02] FdezI commented on #140
He visto mi nota antes de enviar ningún mensaje, he visto los resultados, estadísticas y conozco las herramientas de github para controlar el trabajo realizado. Aún así, sigo defendiendo que no es un sistema de medida único adecuado, quizás más certero que otros muchos, pero, incluso siendo la mejor forma de evaluación posible, veo sobrante los comentarios favoritistas y con segundas constantes. N

[2014-02-16 17:23] JJ commented on #140
Si las notas son correctas y te he probado que lo que digo en el comentario es absolutamente cierto, ¿por qué diablos estamos perdiendo el tiempo?

[2014-04-01 18:42] #131 closed, assigned to nobody

[2015-01-17 20:31] JCristobal commented on #131
Ansible sin lugar a dudas, en mi caso Chef me ha dado muchos problemas, y aunque no me los hubiese dado, el tener que crear su estructura lo encuentro muy pesado. Además Ansible me a parecido muy organizado, a la hora de mostrar fallos y en la gestión de las máquinas.

[2015-01-27 01:47] ghost commented on #131
Particularmente prefiero Chef. Me ha gustado la organización más modular con metadata.rb y  default.rb, y además Ansible me ha dado algunos problemas. Chef quizás sea más tedioso pero ha funcionado desde el principio y he encontrado más documentación.

[2015-01-31 11:46] josecsh commented on #131
Particualmente prefiero Ansible. Me resulta menos complicado de usar. Aun que como bien han dicho por aquí, Chef se usa más en el terreno empresarial y está mucho mas documentado por internet.

[2015-02-01 22:09] toranzo commented on #131
Opino que Chef es mejor opción que Ansible. Da muchísimos menos problemas que Ansible, por lo menos en cuanto respecta a mi. Es cierto que se hace realmente pesado crear su estructura, pero sigo opinando que da menos problemas.

[2015-02-02 09:01] enpi commented on #131
Es cierto que la estructura que ofrece Chef es más organizada ( también requiere de más tiempo elaborar la jerarquía de directorios y ficheros ), sin embargo debido a los problemas, que en mi caso, he tenido en cuanto a su instalación : problemas de compatibilidad con versiones de Ruby, incluso problemas con algunos sistemas operativos..., prefiero Ansible, que me resultó fácil de instalar y poder